# отправлять заголовки что содержимое в UTF-8
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	# Разерешение использования символических ссылок и запрет отображения списка каталогов
	Options +FollowSymLinks -Indexes

	RewriteEngine on

	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?/$1 [L]
	#RewriteRule ^(.*)$ ./index.php

</IfModule>

<ifModule mod_headers.c>
	<FilesMatch "\.(jpg|jpeg|png|gif|js|css)$">
		Header set Cache-Control "max-age=3153600, public"
	</FilesMatch>
</ifModule>