<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	<title>Website Template: Simple Organization - Empty Page (demo)</title>
</head>

<body>

<div id="site-wrapper">

	<div id="header">

		<div id="top">

			<div class="left" id="logo">
				<a href="index.html"><img src="img/logo.gif" alt="" /></a>
			</div>

			<div class="left navigation" id="main-nav">

				<ul class="tabbed">
					<li class="current-tab"><a href="index.html">Blog</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Archives</a></li>
					<li><a href="#">Join Us!</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

			<div class="clearer">&nbsp;</div>

		</div>

		<div class="navigation" id="sub-nav">

			<ul class="tabbed">
				<li><a href="index.html">Template Info</a></li>
				<li><a href="style-demo.html">Style Demo</a></li>
				<li><a href="comments.html">Comments</a></li>
				<li><a href="archives.html">Archives</a></li>
				<li><a href="no-subnavigation.html">No Subnavigation</a></li>
				<li><a href="left-sidebar.html">Left Sidebar</a></li>
				<li><a href="single-column.html">Single Column</a></li>
				<li class="current-tab"><a href="empty-page.html">Empty Page</a></li>
			</ul>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

	<div class="main" id="main-two-columns">

		<div class="left" id="main-content">

			Empty main content
			
		</div>

		<div class="right sidebar" id="sidebar">

			Empty Sidebar

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

	<div id="footer">

		<div class="left" id="footer-left">
			
			<img src="img/logo-small.gif" alt="" class="left" />
			
			<p>&copy; 2002-2009 Simple Organization. All rights Reserved</p>

			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
			
			<div class="clearer">&nbsp;</div>

		</div>

		<div class="right" id="footer-right">

			<p class="large"><a href="#">Blog</a> <span class="text-separator">|</span> <a href="#">Events</a> <span class="text-separator">|</span> <a href="#">About</a> <span class="text-separator">|</span> <a href="#">Archives</a> <span class="text-separator">|</span> <strong><a href="#">Join Us!</a></strong> <span class="text-separator">|</span> <a href="#top" class="quiet">Page Top &uarr;</a></p>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>