<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	<title>Website Template: Simple Organization - Left Sidebar (demo)</title>
</head>

<body>

<div id="site-wrapper">

	<div id="header">

		<div id="top">

			<div class="left" id="logo">
				<a href="index.html"><img src="img/logo.gif" alt="" /></a>
			</div>

			<div class="left navigation" id="main-nav">

				<ul class="tabbed">
					<li class="current-tab"><a href="index.html">Blog</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Archives</a></li>
					<li><a href="#">Join Us!</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

			<div class="clearer">&nbsp;</div>

		</div>

		<div class="navigation" id="sub-nav">

			<ul class="tabbed">
				<li><a href="index.html">Template Info</a></li>
				<li><a href="style-demo.html">Style Demo</a></li>
				<li><a href="comments.html">Comments</a></li>
				<li><a href="archives.html">Archives</a></li>
				<li><a href="no-subnavigation.html">No Subnavigation</a></li>
				<li class="current-tab"><a href="left-sidebar.html">Left Sidebar</a></li>
				<li><a href="single-column.html">Single Column</a></li>
				<li><a href="empty-page.html">Empty Page</a></li>
			</ul>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

	<div id="splash">

		<div class="col3 left">
			
			<h2 class="label label-green">Mission Statement</h2>

			<p class="quiet large">What we want to achieve</p>

			<p>Vestibulum eu pellentesque ante. Sed tincidunt quam eu nisl luctus id mattis tellus rhoncus.</p>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Donec dapibus eros vitae nibh venenatis faucibus.</p>
			<p><a href="#" class="more">Learn more &raquo;</a></p>

		</div>

		<div class="col3-mid left">
			
			<h2 class="label label-orange">Next Event</h2>

			<p class="quiet large">Friday, August 18, 2009</p>

			<p><img src="img/sample-event.jpg" width="240" height="80" alt="" class="bordered" /></p>
			<p><em>Aliquam augue neque, rhoncus et dictum in, cursus eget mauris.</em></p>

		</div>

		<div class="col3 right">
			
			<h2 class="label label-blue">Follow Us</h2>

			<p class="quiet large">http://twitter.com/username</p>

			<p>Nulla mollis sollicitudin nulla et mattis.<span class="quiet">(2 hours ago)</span></p>
			<p>Torquent per conubia nostra, per inceptos himenaeos. <span class="quiet">(2 hours ago)</span></p>
			<p>In sed ante at velit hendrerit blandit a et nibh. Cras sed cursus nulla. <span class="quiet">(3 hours ago)</span></p>
			<p>Nullam vitae mi at nulla blandit. <span class="quiet">(5 hours ago)</span></p>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

	<div class="main" id="main-two-columns-left">

		<div class="right" id="main-content">

			<div class="section">

				<div class="section-title">Blog</div>

				<div class="section-content">

					<div class="post">

						<div class="post-title"><h2><a href="#">Template Information</a></h2></div>

						<div class="post-date">Saturday, September 19, 2009 by Viktor Persson</div>

						<div class="post-body">

							<p><a href="#"><img src="img/sample-image.jpg" alt="" class="bordered" /></a></p>

							<p class="large">This is a free website template by <a href="http://arcsin.se/">Arcsin</a>, built using tableless XHTML and CSS.</p>
										
							<p>This template is distributed under a <a href="http://templates.arcsin.se/license/">Creative Commons Attribution 2.5 License</a>, which allows you to use and modify it for any purpose (personal and commercial), under the condition that you keep the provided credit links in the footer.</p>

							<p>The latest template version and CMS conversions for platforms such as WordPress and Blogger can be found at the official <a href="http://templates.arcsin.se/simple-organization-website-template/">Simple Organization Website Template</a> page.</p>

							<p>For more templates, questions and comments please visit <a href="http://templates.arcsin.se/">Arcsin Web Templates</a>.</p>

							<a href="http://templates.arcsin.se/" class="more">Read more &#187;</a>

						</div>
					
					</div>

					<div class="content-separator"></div>

					<div class="col3 left">
						<div class="column-content">

							<div class="post">
								<h3><a href="#">Article title</a></h3>
								<p>Integer diam elit, condi mentum ac semper ut, tincidunt non diam. Ut congue at commodo aenean euismod tincidunt lorem euismod.</p>
								<a href="#" class="more">Read more &#187;</a>
							</div>

						</div>
					</div>

					<div class="col3 col3-mid left">
						<div class="column-content">

							<div class="post">
								<h3><a href="#">Second Article Title</a></h3>
								<p>Sed congue lacinia leo, sed dignissim odio pharetra vel. Fusce a dignissim dui. Fusce semper porttitor enim dapibus venenatis.</p>
								<a href="#" class="more">Read more &#187;</a>
							</div>

						</div>
					</div>

					<div class="col3 right">
						<div class="column-content">

							<div class="post">
								<h3><a href="#">Third title</a></h3>
								<p>Sed auctor hendrerit eros eu eleifend. Cras hendrerit iaculis sodales. Pellentesque interdum rhoncus magna.</p>
								<a href="#" class="more">Read more &#187;</a>
							</div>

						</div>
					</div>

					<div class="clearer">&nbsp;</div>

				</div>

			</div>

			<div class="clearer">&nbsp;</div>
			
		</div>

		<div class="left sidebar" id="sidebar">

			<div class="section">

				<div class="section-title">Search</div>

				<div class="section-content">
					<form method="post" action="">
						<input type="text" class="text" size="28" /> &nbsp; <input type="submit" class="button" value="Submit" />
					</form>
				</div>

			</div>

			<div class="section">

				<div class="section-title">Recent Entries</div>

				<div class="section-content">

					<ul class="nice-list">
						<li>
							<div class="left"><a href="#">Aenean tempor arcu..</a></div>
							<div class="right">Oct 12</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Justo interdum rutrum</a></div>
							<div class="right">Sep 15</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">In nec justo in urna</a></div>
							<div class="right">Sep 12</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Accumsan condimentum</a></div>
							<div class="right">Sep 6</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Etiam commodo bibendum</a></div>
							<div class="right">Aug 27</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li>
							<div class="left"><a href="#">Mauris euismod justo</a></div>
							<div class="right">Aug 21</div>
							<div class="clearer">&nbsp;</div>
						</li>
						<li><a href="#" class="more">Browse Archives &#187;</a></li>
					</ul>

				</div>

			</div>

			<div class="section">

				<div class="section-title">Board of Members</div>

				<div class="section-content">

					<ul class="nice-list">
						<li><a href="#">Elem Semper</a> <span class="quiet">- Director</span></li>
						<li><a href="#">Porttitor Urna</a> <span class="quiet">- Lead Writer</span></li>
						<li><a href="#">Congue Porttitor</a> <span class="quiet">- Editor</span></li>
						<li><a href="#">Etiam Blandit</a> <span class="quiet">- Writer</span></li>
						<li><a href="#">Diet Tesque</a> <span class="quiet">- Writer</span></li>
					</ul>
					
				</div>

			</div>

			<div class="section">

				<div class="section-title">Topics</div>

				<div class="section-content">
					<div class="quiet">
						<a href="#" style="font-size: 120%">vestibulum</a> <a href="#" style="font-size: 120%">ante</a> <a href="#" style="font-size: 150%">ipsum</a> <a href="#" style="font-size: 120%">faucibus</a> <a href="#" style="font-size: 90%">orci luctus</a> <a href="#" style="font-size: 80%">ultrices</a> <a href="#" style="font-size: 220%">posuere cubilia</a> <a href="#" style="font-size: 100%">curae</a> <a href="#" style="font-size: 110%">quisque</a> <a href="#" style="font-size: 150%">ut arcu</a> <a href="#" style="font-size: 140%">eros</a> <a href="#" style="font-size: 100%">vestibulum</a> <a href="#" style="font-size: 90%">dapibus</a> <a href="#" style="font-size: 120%">volutpat</a> <a href="#" style="font-size: 200%">elementum</a> 
					</div>
				</div>
			
			</div>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

	<div id="footer">

		<div class="left" id="footer-left">
			
			<img src="img/logo-small.gif" alt="" class="left" />
			
			<p>&copy; 2002-2009 Simple Organization. All rights Reserved</p>

			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
			
			<div class="clearer">&nbsp;</div>

		</div>

		<div class="right" id="footer-right">

			<p class="large"><a href="#">Blog</a> <span class="text-separator">|</span> <a href="#">Events</a> <span class="text-separator">|</span> <a href="#">About</a> <span class="text-separator">|</span> <a href="#">Archives</a> <span class="text-separator">|</span> <strong><a href="#">Join Us!</a></strong> <span class="text-separator">|</span> <a href="#top" class="quiet">Page Top &uarr;</a></p>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>