/**
 * base.css. Используется для установки базовых CSS-значений,
 * для описания стилей, используемых в ядре
 *
 * @package     Joostina
 * @subpackage  templates/iOi
 * @version     $Id: base.css 29-09-2009 12:17 ZaiSL $;
*/

body{
    font: normal 12px/20px "Arial";
	text-align: left;
}

table, td {
    font: normal 12px/20px "Arial"; 
}
body.mceContentBody {
	background: #FFF;
}

/*------------------------------------------------------------Общие настройки*/
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
em{font-style:italic;}
blockquote,ul,ol,dl{margin:1em;}
ol,ul,dl{margin-left:2em;}
ol li{list-style:decimal outside;}
ul li{list-style:disc outside;}
dl dd{margin-left:1em;}
caption{margin-bottom:.5em;text-align:center;}
p,fieldset,pre{margin-bottom:1em;}
strong{font-weight:bold;}

/*Заголовки*/
h1, .componentheading {
	color: #222222;
	font:  26px Arial, "Trebuchet MS","Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
    line-height: 0.9em;
	margin: 5px 0 12px 0;
}
h2{
	font: 18px  Arial, "Lucida Grande", Helvetica,Tahoma,Verdana,sans-serif;
	margin: 0.3em 0;
}
h3 {
	font: 22px "Lucida Sans Unicode", Arial, "Lucida Grande", Helvetica,Tahoma,Verdana,sans-serif;
	margin: 0.3em 0;
}
h4, h5, h6 {
	font: bold 13px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	margin: 0.2em 0;
}


/*----------------------------------------------------------------------Ссылки*/
a, a:visited {
	text-decoration: underline;
    color: #5B5B5B;
}
a:hover {
	text-decoration: none;
}
a.email{
	padding: 0 0 1px 2px;
    text-decoration: none;
    border-bottom: 1px dashed #CCC;
}
a.edit{
	padding: 0 0 1px 2px;
    text-decoration: none;
    border-bottom: 1px dashed #4B8EC2;
    font-weight: bold; color: #4B8EC2;
}
a.edit:hover{
	padding: 0 0 1px 2px;
    text-decoration: none;
    border-bottom: 1px dashed #D43015;
    font-weight: bold; color: #D43015;
}
.back_button a{
    background:url(../images/elements/back.png)  no-repeat left;
    padding: 0 0 0 12px; color: #000; font-size: 11px;
}
.back_button{
    padding: 6px 0 0 0;
}

/*-----------------------------------------------------------------Изображения*/
.mosimage {
	margin: 2px 10px 0 0;
	padding: 0;
}
.mosimage_caption {
	font: bold 11px "Century Gothic";
}
.mosimage img {
	padding: 2px;
	border: 1px solid #CCCCCC;
}

/*---------------------------------------------------------------------Таблицы*/
.content table td{
	padding: 4px 2px;
}
.content table tr th {
	background:  #F2F3E9;
	padding: 4px;
	font-weight: bold;
    border-bottom: 1px dashed #DDDDDD;
    border-top: 1px dashed #DDDDDD;
}
td.nowrap, td.jtd_nowrap{
    border: none !important;
}
td.sectiontableheader {
	background: #EAECDE;
	font-weight: bold;
	padding: 5px 2px;
}
tr.tr-second{
    background: #F4F5ED;
}

/*---------------------------------------------------------------Элементы форм*/
input[type=text],
input[type=password],
input.inputbox,
input.text_area,
textarea.inputbox,
select.inputbox,
textarea.inputbox,
textarea.text_area {
	border: 1px solid #DADADA;
    background:url(../images/layout/input_bg.png) repeat-x top left #FEFEFE;
	color: #525252;
	margin: 0 5px 5px 1px;
	padding: 2px 6px;
}
input[type=text],
input[type=password]{
    height: 21px; line-height: 21px;
    padding:4px 0 0 3px;
}
select.inputbox{
    height: 26px; line-height: 26px;
    padding:4px 0 4px 3px;
}
input[type=radio]{
    margin-right: 6px;
}
.inputbox.error{
    border: 1px solid red;
}
*:first-child+html input[type=radio] {
	margin: 0;
}
.button {
	display:inline-block;
	line-height:25px;
	padding:0 9px 0 0;
	cursor:pointer;
	font-family: "Arial";
}
.button a, .button b, .button input, .button button {
	display:inline-block;
	padding:0 0 0 9px;
	font-size:12px;
	color:#000;
	text-decoration:none;
	outline:none;
	border:none;
	cursor:pointer;
}
.button input, .button button {
	height:25px;
}
.button img {
	vertical-align:middle;
	border:none;
}
.button:hover {
	background-position:100% -25px;
}
.button:hover a, .button:hover b, .button:hover input, .button:hover button {
	background-position:0 -25px;
	padding:0 0 0 9px;
}
.button:active {
	background-position:100% -50px;
}
.button:active a, .button:active b, .button:active input, .button:active button {
	background-position:0 -25px;
}

/*--------------------------------------------------------------Декоративности*/
.small, .createdate {
	font-size: 11px;
}
.tags{
    background: url(../images/elements/tag.png) no-repeat left;
    padding: 0 0 0 20px;
}
.date {
	background: url(../images/elements/date.png) no-repeat top left;
	padding: 2px 0 2px 20px;
    font-size: 10px;
}
.author{
    font-size: 11px;
}
span.email{
	background: url(../images/elements/mail.png) no-repeat left;
	padding: 0 0 3px 21px;
    text-decoration: none;
}
span.edit{
	background: url(../images/elements/edit.png) no-repeat left;
	padding: 0 0 3px 21px;
    text-decoration: none;
}
.online {
	background: url(../images/elements/bullet_green.png) no-repeat left;
	padding: 2px 0 2px 11px;
}
.offline {
	background: url(../images/elements/bullet_red.png) no-repeat left;
	padding: 2px 0 2px 11px;
}
.indicator{
	height:20px;
}
.inprogress {
	background: url(../images/elements/loader.gif) no-repeat  left;
	padding: 0 0 0 22px;
}
.info{
	padding: 10px 10px 10px 30px;
	background: url(../images/elements/information.png) no-repeat  10px  #F9F8EA;
	margin: 5px 0 10px 0;
    border-top: 1px solid #E8E6B2;   border-bottom: 1px solid #E8E6B2;
}
img#email, img#print {
	padding: 3px;
}

/*-------------------------------------------------Вывод отладочной информации*/
#jdebug{
	padding: 10px;
	text-align:left;
    background: #EBEBEB;
}
#jdebug .debug_counter{
    background: url(../images/elements/publish.png) no-repeat  left;
	padding: 0 0 0 22px;
}
#jdebug .debug_files{
    background: url(../images/elements/information.png) no-repeat  left;
	padding: 0 0 0 22px;
}
#jdebug .debug_log li{
    padding: 5px 10px 5px 5px;
}
#jdebug .debug_log li small{
    font-weight:bold;
}

table#toolbar a.toolbar, table#toolbar a.toolbar img {
	border: none;
}


/*----------------------------------------------------- Pathway, breadcrumb*/
div.pathway {
    display: block;
    background:url(../images/layout/bc_bg.png) repeat-x;
    height:30px;
    line-height:30px;
    color:#666;
    border:solid 1px #DDDDDD;
    width:100%;
    overflow:hidden;
    margin:0 0 10px 0;
    padding:0; font-size: 11px;
}
div.pathway ul, div.pathway ul li{
    margin: 0; padding: 0; list-style: none;
}
div.pathway ul li  {
    float:left;
    padding: 0 2px 0 5px;
}
div.pathway li.pathway_arrow  {
	display: none;
}
div.pathway li a  {
    height:30px;
    display:block;
    background:url(../images/layout/bc_separator.png) no-repeat right;
    padding: 0 15px 0 5px; text-decoration: none;
    color: #666666;
}
div.pathway li a:hover  {
    color: #C0142B;
}

/*----------------------------------------------------- Постраничная навигация*/
span.pagenav{
	color:#000;  font-weight: bold;
}
.pagenavigation{
	padding:20px 0 20px 0;
	clear:both;
}
.pagenavigation ul{
	list-style:none;
	padding:0;
	margin:0;
}
.pagenavigation ul li{
	list-style:none;
	padding:3px;
	font-size:11px;
	display:inline;
}
.pagenavigation ul li a{
	padding:3px 5px 3px 5px;
	font-size:11px;
	background:#EFEFEF;

}
.pagenavigation ul li a:hover{
	background:#C3DDF1;
}
.pagenavigation ul li.next a,
.pagenavigation ul li.back a{
    background: none; border: none;
}

li.first_page span, li.first_page a, li.last_page span,  li.last_page a, .back span, .next span{
	display:none;
	visibility:hidden; padding: 0; margin: 0;
}
.pn_nav{
	text-align:center;
	margin:15px 0 20px 0;
	clear:both;
}
.pn_nav a{
	color:#FFF;
	font-weight:bold;
	font-size:11px;
	margin:0 5px;
	background:#656565;
	border:3px solid #D0D0D0;
	padding:5px 6px;
	text-decoration:none;
}
.pn_nav a:hover{
	color:#FDCDEB;
	background:#000;
	border:3px solid #656565;
}



/*---------------------------------------------------------рейтинг - звездочки*/
.jwajaxvote-inline-rating {
	display: block;
	vertical-align: middle;
	line-height: 25px;
}
.jwajaxvote-star-rating {
	float: left;
}
.jwajaxvote-star-rating, .jwajaxvote-star-rating a:hover, .jwajaxvote-star-rating .current-rating {
	background: url(../images/rating/star.gif) left -1000px repeat-x;
}
.jwajaxvote-star-rating {
	position: relative;
    width: 100px;
	height: 25px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background-position: left top;
}
.jwajaxvote-star-rating li {
	display: inline;
	background-image: none;
	padding: 0;
}
.jwajaxvote-star-rating a, .jwajaxvote-star-rating .current-rating {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000px;
	height: 25px;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border: none;
	cursor: pointer;
}
.jwajaxvote-star-rating a:hover {
	background-position: left bottom;
}
.jwajaxvote-star-rating a.one-star {
	width: 20%;
	z-index: 6;
}
.jwajaxvote-star-rating a.two-stars {
	width: 40%;
	z-index: 5;
}
.jwajaxvote-star-rating a.three-stars {
	width: 60%;
	z-index: 4;
}
.jwajaxvote-star-rating a.four-stars {
	width: 80%;
	z-index: 3;
}
.jwajaxvote-star-rating a.five-stars {
	width: 100%;
	z-index: 2;
}
.jwajaxvote-star-rating .current-rating {
	z-index: 1;
	background-position: left center;
}
.jwajaxvote-box {
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
}
.jwajaxvote-clr {
	clear: both;
}

/*-------------------------------------------------------Всплывающие подсказки*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #E4E6D4;
	background-color: #EAECDE;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { 
	margin: 0;
}
#tooltip h3{
    font-size: 14px; font-weight: bold;
}