source: ./../../app/components/news/

destination: ./files/

exclude:
	- */_install/*
	- */_new/*
	- */docs/*


title: Joostina CMS / CMF v2.* API

todo: yes

groups: packages

debug: yes

report: ./doc-report.info

php: yes

templateConfig:  ./themes/joostina-bootstrap/config.neon

autocomplete:
	- classes
	- constants
	- functions
	- methods
	- properties
	- classconstants

baseUrl: http://xboston.github.com/joostina-docs/

main: joos