source: ./../../

destination: ./files/

exclude:
	- */_install/*
	- */_new/*
	- */docs/*
	- */Monolog/*
	- */Zend/*


title: Joostina CMS

todo: yes

groups: packages

debug: yes

report: ./doc-report.info

php: yes

# templateConfig:  ./themes/bootstrap/config.neon