/*
* reset
*
*/
html, body, address, blockquote, div, p, pre, h1, h2, h3, h4, h5, h6, hr, dd, dl, dt, 
ul,  a, abbr, acronym, b, big, br, cite, code, del, dfn, em, i, ins, kbd, q, 
samp, small, span, strong, sub, sup, tt, var, img, object, caption, table, tbody, td, 
tfoot, th, thead, tr, textarea, select, form, fieldset, legend, label, 
font, u, s, center, dir, menu, strike, xmp {
    color: #2A2A2A;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    vertical-align: baseline;
}


body {
    position: relative;
    background: url(../images/layouts/bg.png) left top repeat #3F3C37;
    font:  12px/16px Tahoma, Arial;
    text-align: left;
}
table, td {
    font:  12px/16px Tahoma, Arial;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr, img, object, fieldset {
    border: 0;
}
caption, td, th, tr {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input {
    overflow: visible;
}
textarea {
    vertical-align: top;
}

select[size] {
    vertical-align: top;
}
select[size="1"] {
    vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
    margin: 0 3px 0 0;
    vertical-align: middle;
}

sup{
    color: #877237;
    font-size: 10px;
    font-weight: normal;
    padding: 0 0 0 10px;
    vertical-align: top;
}

/*------------------------------------------------------------Общие настройки*/
ul, ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
ol{
      margin: 0 0 0 20px;
      padding: 0 0 0 3px;

}
    ol li{
        list-style-type: inherit;
        list-style-position: outside;
        margin: 0;
        padding: 0;
    }
    
.page .news_item ul{
    margin: 5px 0 0 0;  
    padding: 0 0 0 20px;
    list-style: disc;  
}
    .page .news_item ul li{
        list-style: disc;
    }
    .page .news_item ul li ul li{
        list-style:  circle;
    }
.hidden{
    display: none;
}
.overflow{
	overflow: hidden;
}
/*---------------------------------------------------------------------Ссылки*/
a, a:visited {
    text-decoration: underline;
    color: #094D5C;
}
a:hover {
    text-decoration: none;
}
a.small{
    font-size: 11px;
}
a.to_game{
    font-size: 10px;
    display: block;
    margin: 3px 0 0 0;
}
a.thumb{
    float: left;
    margin: 0 8px 0 0;
    overflow: hidden;
    width: 130px;
    height: 130px;
}
    a.thumb img{
        width: 135px;
    }
.avatar_big{
    float: left;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 100px;
    max-height: 100px;
}
    .avatar_big img{
        width: 100px;
    }
    
a.avatar{
    float: left;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
    a.avatar img{
        width: 30px;
    }
    
a.avatar_mid{
    float: left;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
    a.avatar_mid img{
        width: 45px;
    }
    
a.avatar_small{
    float: left;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 25px;
    height: 25px;
}
    a.avatar_small img{
        width: 25px;
    }
    
    
a.readmore{
    background: url(../images/elements/readmore.png) top left no-repeat;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 66px;
    height: 21px; line-height: 19px;
    float: left;
    margin: 2px 0 0 -3px;
}
a.readmore:hover{
    background: url(../images/elements/readmore_h.png) top left no-repeat;
    color: #FFF;
}

a.rater_plus1{
    background: url(../images/buttons/plus1.png) top left no-repeat;
    display: block;
    width: 37px;
    height: 28px;
    text-decoration: none;
    cursor: pointer;    
}
    a.rater_plus1:hover{
        background: url(../images/buttons/plus1_h.png) top left no-repeat;
  
    }

    
.button_soc{
    background: #E6DFCC;
    font-size: 10px;
    text-decoration: none !important;
    color: #000 !important;
    padding: 4px 3px;
     
    float: left;
    height: 27px;
    line-height: 11px;
    margin: 0 5px 0 0;
 
}
    .button_soc:hover{
        background-color: #DED7C6;    
    }

.button_send_email{
    background: url(../images/buttons/send_email.png) 5px 5px no-repeat #E7E0CE;   
    padding-left: 38px; 
    width: 60px !important;
}
.button_add_friend{
    background: url(../images/buttons/add_friend.png) 5px 5px no-repeat #E7E0CE;   
    padding-left: 38px; 
    width: 50px !important;    
}

.button_add_fav{
    background: url(../images/buttons/fav_game_add.png) 5px 5px no-repeat #E7E0CE;   
    padding-left: 38px; 
    width: 55px;
}
	.button_add_fav.active{
	    background: url(../images/buttons/fav_game_del.png) 5px 5px no-repeat #E7E0CE !important;   
	}
	
.button_follow{
    background: url(../images/buttons/follow_game.png) 5px 5px no-repeat #E7E0CE;   
    padding-left: 38px; 
    width: 60px;    
}
	.button_follow.active{
	    background: url(../images/buttons/follow_game_del.png) 5px 5px no-repeat #E7E0CE;
	}

.buttons_admin span{
    display: block;
    background: url(../images/buttons/brown_button.png) repeat-x;     
    padding: 3px 3px;
    display: block;
    float: left;
    height: 27px;
    line-height: 11px;
    margin: 0 5px 0 0;
    border: 1px solid #AFA37D; 
}
    .button_admin{
        font-size: 10px;
        text-decoration: none !important;
        color: #000 !important; 
        display: block;
        height: 27px;           
    }
    
#button_edit{
    background: url(../images/buttons/edit.png) 3px 0 no-repeat;   
    padding-left: 38px; 
    width: 55px;      
}
#button_block{
    background: url(../images/buttons/block.png) 3px 0 no-repeat;   
    padding-left: 38px; 
    width: 75px;      
}
#button_del{
    background: url(../images/buttons/del.png) 3px 0 no-repeat;   
    padding-left: 38px; 
    width: 45px;      
}
#button_history{
    background: url(../images/buttons/history.png) 3px 0 no-repeat;   
    padding-left: 38px; 
    width: 55px;      
}
#button_award{
    background: url(../images/buttons/award.png) 3px 0 no-repeat;   
    padding-left: 38px; 
    width: 46px;      
}
#button_punish{
    background: url(../images/buttons/punish.png) 3px 0 no-repeat;   
    padding-left: 38px; 
    width: 46px;      
}
a.del_big{
    background: url(../images/elements/cross.png) no-repeat;   
    padding: 1px 0 0 8px; 
    width: 16px; 
    height: 16px; line-height: 16px;
    text-decoration: none;   
} 
a.del_small{
    background: url(../images/elements/cross_small.png) no-repeat;   
    padding: 1px 0 0 8px; 
    width: 16px; 
    height: 16px; line-height: 16px;
    text-decoration: none;   
} 
a.plus_small{
    background: url(../images/elements/plus_small.png) no-repeat;   
    padding: 0 0 0 8px; 
    width: 16px; 
    height: 16px; line-height: 16px;
    text-decoration: none;   
} 
a.minus_small{
    background: url(../images/elements/minus_small.png) no-repeat;   
    padding: 0 0 0 8px; 
    width: 16px; 
    height: 16px; line-height: 16px;
    text-decoration: none;   
} 
a.del_circle{
    background: url(../images/elements/cross_small_circle.png) no-repeat;   
    padding: 0 0 0 8px; 
    width: 16px; 
    height: 16px; line-height: 16px;
    text-decoration: none;   
} 
a.in_top_big{
    background: url(../images/elements/in_top_big.png) no-repeat;   
    padding: 6px 0 0 0; 
    width: 62px; 
    height: 75px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #80600F;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;   
} 
.userEdit{
    text-decoration: none;
    padding: 0 4px 0 0;         
}
.userEdit img{
    vertical-align: top;
	margin: 3px 0 0 0;         
}
/*------------------------------------------------------------------Заголовки*/


h1, h2, h3, h4, h5{
    font:  14px Tahoma, Arial;
    color: #010101;
    margin: 0 0 5px 0;
}
h1{
    font-size: 20px;
    margin: 10px 0 10px 0;
}
    h1 strong{
        font-weight: normal;
        background: #F3DB9A;
        padding: 3px 5px;
    }
h5,
h5 a {
    font-size: 18px;
    text-transform: uppercase;
    color: #850209 !important;
}
h2 {
    font-size: 18px;
    color: #473503;   
}
h2.small{
    font-size: 12px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0;
}
h2.small a{
    color: #000;
}
h3{
    font-size: 18px;
    padding: 0;
}
h4{
    font-weight: bold;
    font-size: 14px;
}
    h4 a{
        color: #484437;
    }
    
h2 small{
    font-size: 11px;
}

h6{
    font-size: 18px;
    margin: 0 0 10px 0;
}
/*
.page h2{
    float: left;
    margin: 0 0 10px 5px;
}
.page h1{
    float: left;
    margin: 0 0 10px 5px;
}*/
.gallery_ganre_wrap h2,
.page_games h2{
    float: none !important;
}

/*-----------------------------------------------------------Декоративности*/
.in_progress{
     background: url(../images/loading2.gif)  left  no-repeat;
    padding: 0 2px 0 16px;   
}
.arrow{
    background: url(../images/elements/arrow.png)  0 5px  no-repeat;
  padding: 0 0 0 12px;
}
.all, .all:visited{
    background: url(../images/elements/arrow3.png)  0 5px  no-repeat;
  padding: 0 0 0 12px;
  color: #A84C13;
}
.arrow3{
    background: url(../images/elements/arrow3.png)  left no-repeat;
  padding: 0 0 0 12px;
}
.online{
    background: url(../images/elements/online.png)  0 5px  no-repeat;
  padding: 0 0 0 12px;
}
.offline{
    background: url(../images/elements/offline.png)  0 5px  no-repeat;
  padding: 0 0 0 12px;
}
.createdate,
.date{
    font-size: 10px;
    color: #BF3811;
}
.username{
    font-size: 10px;
}
.comments_total_link{
    font-size: 10px;
    background: url(../images/elements/comments.png) 0 2px no-repeat;
    padding: 0 0 0 12px;    
}
.camera{
    font-size: 11px;
    background: url(../images/elements/camera.png) left no-repeat;
    padding: 0 0 0 14px;
    font-weight: normal;    
}
.label_new,
.label_update{
    color: #FFF;
    font-size: 10px; 
    padding: 1px 4px;   
}
.label_new{
    background-color: #4F9534;    
}
.label_update{
    background-color: #666460;    
}
.item_tags{
    font-size: 11px;
    background: url(../images/elements/tag.png) 0 3px no-repeat;
    padding: 1px 0 1px 17px;   	
}

.joimeta_inlist{
	background: #932615;
	font-size: 11px;
	padding: 2px;
	clear: both;
	color: #fff;	
}
.joimeta_inlist.active{
	background: #7EBD62;	
}


.easyTooltip{
	padding:5px 10px;
	background:#666460;
	color:#fff;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;  
    border-radius: 7px;
    font-size: 11px;
}

/*
*  ----------------------------------------------------Notify Bar - jQuery plugin*
*/
.jquery-notify-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 32768;
    background: url(../images/layouts/black.png)  top left repeat;
    color: #F7DC98;
    text-align: center;

    height: 40px !important;
    vertical-align: middle;
    line-height: 40px;
    font-size: 18px !important;
    border-bottom: 1px solid #000;
}
.jquery-notify-bar.error {
    color: #D22C1C !important;
}
.jquery-notify-bar.success {
    color: #C8E6B4;
}
.notify-bar-close {
    position: absolute;
    left: 95%;
    font-size: 11px;
}
/*
*  ----------------------------------------------------//Notify Bar - jQuery plugin*
*/

span.category{
    color: #595959;
    background: url(../images/elements/arrow.png) left no-repeat;
    padding: 0 0 0 11px;
}
span.category a{
    color: #356323;
}

.item_comments{
    font-size: 10px;
    color: #E61597;
    background: url(../images/elements/comment.png) left no-repeat;
    padding: 0 0 0 15px;
}
.mail{
    font-size: 11px;
    background: url(../images/elements/mail.png) left no-repeat;
    padding: 3px 0 3px 20px;   
}
.fav{
    font-size: 11px;
    background: url(../images/elements/fav.png) left no-repeat;
    padding: 3px 0 3px 20px;     
}
span.error, div.error, label.error, #error{
    font-size: 11px;
    color: #922514;
    padding: 0 0 0 15px;    
}
.errors{
    margin: 5px 0 10px 0;
    background: url(../images/elements/x.png) 0px 3px no-repeat;
    padding: 0 0 0 20px; 
}
.sort_link {
    width: 9px;    
    height: 5px;
    background-image: url(../images/elements/sort.png);
    background-repeat: no-repeat;
    display: block; float: left;
    cursor: pointer;
    text-decoration: none;
    margin: 7px 3px 0 2px;
}
.sort_link.sort_down.sort_active{
    background-position: 0 0;   
}
.sort_link.sort_up.sort_active{
    background-position: -12px 0;   
}
.sort_link.sort_down{
    background-position: -24px 0;   
}
.sort_link.sort_up{
    background-position: -36px 0;   
}

.rus{
    background: url(../images/elements/rus.png) left no-repeat;
    padding: 0 0 0 23px;    
}

.star_rater{
    background: url(../images/star_rating/stars.png) left no-repeat;    
}

.invalid{

}


/*---------------------------------------------------------Элементы форм*/
.page form{
    margin: 10px 0 0 10px;
}
label{
    font-size: 11px;
}
dl{
     
}
    dt{
        
        
    }
    dd{
        margin: 1px 0 10px 0;    
    }

input[type=text],
input[type=password],
select,
textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #CDC19E;
    padding: 5px 5px;
    font-size: 11px;
    background: url(../images/backgrounds/input_bg.png) right repeat !important;
}
input.error,
select.error,
textarea.error {
    border: 1px solid #B00000;
}

select option{
    background: #EBE3CC;    
}

button, input[type=button]{
    outline: none;
}

.button {
	display:inline-block;
	line-height:33px;
	padding:0 17px 0 0;
	background:url(../images/buttons/bg-button-r.png) right 0 no-repeat;
	cursor:pointer; font-family: "Arial";
    text-align:  center; 
    margin: 0 !important;
 }
.button a, .button b, .button input, .button button {
	display:inline-block;
	padding:0 0 0 17px;
	font-size:12px;
	color:#FAEED9;
	text-decoration:none;
	outline:none;
	background:url(../images/buttons/bg-button-l.png) 0 0 no-repeat;
	border:none;
	cursor:pointer; 
    margin: 0 !important; text-align:  center; 
    
}
.button input, .button button {
	height:31px !important;
	padding: 0 0 2px 17px;
	font-family: Arial !important;
	font-size: 11px;
	color: #FCF1D3;
}
.button img {
	vertical-align:middle;
	border:none;
}
.button:hover {
	background-position:100% -33px;
}
.button:hover a, .button:hover b, .button:hover input, .button:hover button {
	background-position:0 -33px;
}
.button:active {
	background-position:100% -66px;
}
.button:active a, .button:active b, .button:active input, .button:active button {
	background-position:0 -33px;
}

/*------------------------------------------------------------------Таблицы*/
.content_table{
    
}
    .content_table th,
    .content_table td{
        padding: 3px 5px;
        font-size: 11px;
    }
    .content_table th,
    .content_table th span{
        font-size: 11px;
        color: #850209;
        font-weight: normal;
    }
    
    .content_table th span{
        margin-left: 10px;
    }
    th.th_date{
        width: 100px;
    }
    th.th_rate{
        width: 80px;    
    }
    th.th_thumb{
        width: 130px;        
    }
    td.td_date{
        font-size: 11px;
        text-align: center;
        padding: 17px 0 0 0;
    }
    td.td_rate{
        font-size: 11px;
        text-align: center;
        padding: 17px 0 0 0;
        font-weight: bold;      
    }
    td.td_thumb{
               
    }
/*.even td{
    background: url(../images/layouts/dot.png) bottom left repeat-x;    
}    
.odd td{
    background: url(../images/layouts/dot.png) bottom left repeat-x #F2EBD7;
}*/

.block_table{
    
}
    .block_table td{
        padding: 5px;
        font-size: 11px;
    }
        .block_table td a{
            font-size: 12px;
        }
    .block_table .row1 td{
        background: url(../images/layouts/dot.png) bottom left repeat-x;    
    }    
    .block_table .row2 td{
        background: url(../images/layouts/dot.png) bottom left repeat-x #E8E0C9;
    }
    
.hidden_th tr,
.hidden_th th{
    font-size: 0 !important;
    height: 1px !important;
    line-height: 1px;
    
}

.td_bottom_padding{
    padding-bottom:  10px;
}


/*--------------------------------------------------------------------Пагинация*/
.pagination_wrap{
    overflow: hidden;
    margin: 10px 0 0 0;
}

.paginator {
	margin:5px auto;
	width:600px;
	height:80px;
	padding-top:15px;
}
.paginator table {
	border-collapse:collapse;
	table-layout:fixed;
	width:100%;
}
.paginator table td {
	padding:0;
	white-space:nowrap;
	text-align:center;
	font-size:14px;
}

.paginator .left{
    text-align:right;	
}

.paginator .right{
    text-align:left;	
}

.paginator .left, .paginator .right{
   width:17%;
}

.paginator .top, .paginator .top a {
    color:#696357;	
}

.paginator .bottom, .paginator .bottom a{
	color:#696357;
	font-size:12px;
}

.paginator .spaser{
    width:30px;	
}

.paginator span {
	display:block;
	padding:3px 0;
	color:#fff;
}
.paginator span strong,
.paginator span a {
	padding:2px 6px;
}

.paginator span a {
    color:#636363;
    font-size: 11px;
    font-weight: bold;
}

.paginator .left a:hover,
.paginator .right a:hover  {
    text-decoration:underline;
}

.paginator span strong {
	background:#A39475;
	font-style:normal;
	font-weight:normal;
    color: #FFF; 
}
.paginator .scroll_bar {
	width:100%;	height:20px;
	position:relative;
	margin-top:10px; 
}
.paginator .scroll_trough {
	width:100%;	height:3px;
	background:#C6C0A0;
	overflow:hidden;
}
.paginator .scroll_thumb {
	position:absolute;
	z-index:2;
	width:0; height:3px;
	top:0; left:0;
	font-size:1px;
	background:#6A6255;
}
.paginator .scroll_knob {
	position:absolute;
	top:-5px; left:50%;
	margin-left:-10px;
	width:20px; height:20px;
	overflow:hidden;
	background:url(../images/elements/slider_knob.gif) no-repeat 50% 50%;
	cursor:pointer; cursor:hand;
}
.paginator .current_page_mark {
	position:absolute;
	z-index:1;
	top:0; left:0;
	width:0; height:3px;
	overflow:hidden;
	background:#87010C;
}

.fullsize .scroll_thumb {
	display:none;
}


.paginator_pages {
	width:600px;
	text-align:right;
	font-size:0.8em; 
	color:#808080;
	margin-top:-10px; 
}


/*--------------------------------------------------------------------AJAX-Пагинация*/
.pagenav{

}
.pagenav ul{

}
.pagenav li{
    display: inline;
    padding: 1px;
}
.pagenav li a,
.pagenav li span{
    padding: 3px 5px;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.pagenav li a:hover,
.pagenav li.active span{
    background: #D4CCB3;
    color: #000;
}

/*--------------------------------------------------------------------Комментарии*/
.comments{
    padding: 10px 0 0 0;
}
	.comments .block_wrap{
		padding: 8px;
	}
		.comments form{
			margin: 0 !important;
		}
.add_comment{
	text-decoration: none;
	border-bottom: 1px dashed #000;
}
.comment_form{
    margin: 0 ;
}
    .comment_form span{
        font-size: 10px;
        padding: 0 0 10px 0;
    }
    #comment_input{
        width: 98%;
        height: 90px;
        margin: 5px 0 10px 0;
    }
.comment_reply{
    background: url(../images/elements/arrow5.png) left no-repeat;
    padding: 0 0 0 9px;
    font-size: 11px;
}

.comments-list{
    margin: 3px 0 0 20px;     
	overflow: hidden;
    clear: both;

}
.comments-list#comments-list-0{
	margin: 0 0 20px 0 !important;
}	
    .comment_item{
        overflow: hidden;
        margin: 3px 0;
        clear: both;
        padding: 5px;
    }
    .comment_item.odd{
        background: #E3DBC5;
    }
    
    	ul.comment_menu{
    		overflow: hidden;
			width: 100%;
			display: block;	
    	}
	    	ul.comment_menu li{
	    		float: left;
				margin: 0 10px 0 0;
				padding: 3px 0 0 0;	
	    	}
	    		ul.comment_menu li.comment_avatar{
	    			margin: 0 5px 0 0;
	    			padding: 0 !important;
	    		}
	    		ul.comment_menu li.comment_href a{
	    			font-size: 11px;
	    			
	    		}
	    		ul.comment_menu li.comment_to_parent a{
	    			font-size: 11px;
	    			font-family: Arial;
	    			color: #000;
	    			
	    		}
	    		ul.comment_menu li.comment_username{
	    			margin: 0 5px 0 0;	    			
	    		}    
			        .comment_item p{
			            font-size: 11px;
			            padding: 0 0 2px 0;
			            clear: both;
			        }
			        .comment_item .date{
			            color: #000;
			        }
			        .comment_item .username{
			            font-size: 11px; font-weight: bold;
			            color: #850209;
			        }
			        
			        /*Голосовалка*/
			        ul.comment_menu li.comment_vote{
			        	float: right;
			        	margin: 0 !important;
			        }
			        	.comment_vote_voting{
			        		float: right;
			        	}
			        	.comment_vote_voting .mark{
			        		font-size: 11px;
			        		font-weight: bold;
			        		color: #6F5F41;
			        	}
			        	.comment_vote_voting .buttons a{
			        		cursor: pointer;
			        		float: left;
			        		height: 13px;
			        		width: 13px;
			        		background: url(../images/comments/bg.png) no-repeat;
			        		margin: 2px 2px 0 0;
			        	}
			        	.comment_vote_voting .buttons a.vote_minus{
			        		background-position: 0 0;
			        	}
			        	.comment_vote_voting .buttons a.vote_plus{
			        		background-position: -13px 0;
			        	}
			        	.comment_vote_voting .buttons.unactive a.vote_plus{
			        		background-position: -13px -39px;	
			        	}
			        	.comment_vote_voting .buttons.unactive a.vote_minus{
			        		background-position: 0 -39px;
			        	}
			        	
			        	.comment_vote_voting .buttons a.vote_plus:hover{
			        		background-position: -13px -13px;
			        	}
			        	.comment_vote_voting .buttons a.vote_minus:hover{
			        		background-position: 0 -13px;
			        	}
			        	
			        	
						.comment_vote_voting .buttons.unactive a.vote_plus.active{
			        		background-position: -13px -26px;
			        	}			        	
						.comment_vote_voting .buttons.unactive a.vote_minus.active{
			        		background-position: 0 -26px;
			        	}
			        	
			        	.comment_vote_voting .buttons.unactive a.vote_plus:hover{
			        		background-position: -13px -39px;	
			        	}
			        	.comment_vote_voting .buttons.unactive a.vote_minus:hover{
			        		background-position: 0 -39px;	
			        	}
			        	
			        	.comment_vote_voting .buttons.unactive a.vote_plus.active:hover{
			        		background-position: -13px -13px !important;
			        	}
			        	.comment_vote_voting .buttons.unactive a.vote_minus.active:hover{
			        		background-position: 0 -26px !important;
			        	}
			        	




/*--------------------------------------------------------------------Всплывающие подсказки*/
/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(../images/tooltip/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -10px;
  height: 27px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {

}
.cluetip-jtip #cluetip-outer {
    background:  url(../images/backgrounds/user_cart.png) top left no-repeat;  
     width: 172px;
     height: 230px !important;  
     overflow: hidden;
}
.cluetip-jtip #cluetip-inner {

}

.cluetip-jtip h3#cluetip-title {
position: absolute;
  right: 10px;
  top: 10px; width: 16px; height: 16px;
}


.cluetip-jtip div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900; 
}
/* jtip arrows */

.clue-right-jtip .cluetip-arrows {
  background-image: url(../images/tooltip/darrowleft.png);
  margin-top: 10px;

}
.clue-left-jtip .cluetip-arrows {
  background-image: url(../images/tooltip/darrowright.png);
  left: 100%;
  margin-left: -8px;
  margin-top: 8px;
}
.clue-top-jtip .cluetip-arrows {
  background-image: url(../images/tooltip/darrowdown.png);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-jtip .cluetip-arrows {
  background-image: url(../images/tooltip/darrowup.png);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 27px;
  width: 22px;
}

/*------------------------------------------------------------------------------TableSorter*/

table.tablesorter {

}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {

}
table.tablesorter thead tr .sortheader span.th {
	background: url(../images/tablesorter/bg.gif) no-repeat right;
	cursor: pointer;
    padding: 0 20px 0 0;
}
table.tablesorter tbody td {
	background: url(../images/layouts/dot.png) bottom left repeat-x;  
}
table.tablesorter tbody tr.odd td {
	background: url(../images/layouts/dot.png) bottom left repeat-x #F2EBD7;
}
/*.even td{
    background: url(../images/layouts/dot.png) bottom left repeat-x;    
}    
.odd td{
    background: url(../images/layouts/dot.png) bottom left repeat-x #F2EBD7;
}*/
table.tablesorter thead tr .headerSortUp span.th {
	background-image: url(../images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown span.th {
	background-image: url(../images/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
   
}

/*--------------------------------------------------------------------Карточка пользователя*/
.user_cart{    
   padding: 10px;
   color: #CAC1AA;
   text-align: center; 
   font-size: 11px;     
} 
    .user_cart .avatar_user_cart{
        display: block;
        overflow: hidden;
        width: 100px;
        height: 100px;
        border: 1px solid #C4BCA7;
        margin: 6px auto 0 auto;
    }
        .user_cart .avatar_user_cart img{
            width: 105px;
        }
    .user_cart a{
        color: #ECE4CD;
    }
    .user_cart_rank{
        color: #D1C6A6;
        font-size: 10px;      
    }
    .user_cart_about{
        padding: 5px 0 10px 0;
        color: #CAC1AA;    
    }
    .user_cart_send{
        background: #766E5B; 
        border: 1px solid #928A76;
        padding: 3px 5px;
        margin: 6px 0 0 0;  
    }
        .user_cart_send .mail{
            font-size: 10px;
            text-decoration: none;
            color:  #ECE4CD;   
        }

.highlight{
           
            background: #F6E5B7;
            padding: 1px 3px;
}

.joimeta{
	float: right
}