
input[type=checkbox], input[type=radio] {
    margin-right: 0 3px 0 0;
    vertical-align:  baseline;
}
.button {
	padding:0 17px 0 0;
 }
.button a, .button b, .button input, .button button {
	padding:0 0 0 17px;
}
#input_search{
    width: 146px;
}
.logout{
    float: right;
    height: 65px;                
    margin: 70px 3px 0 0;
    background: url(../images/layouts/t.png) repeat;
    overflow: hidden;
    padding: 5px 8px;
    
}
.logout input.button{
        border: none;
        color: #AF0201;
        background: url(../images/elements/x.png) left no-repeat;
        cursor: pointer;
        padding: 0 0 0 16px;
        margin: 0 20px 0 0!important;
        float: left;
        text-decoration: underline;
        height: 16px;
        line-height: 15px;
        width: 50px;
     }