html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url("../images/bg.png") no-repeat scroll center top #333333;
    font: 13px/16px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #8C8C8C;
}

a:hover {
    color: #224488;
}

.login {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 15px;
    border: 1px solid #fff;
    width: 415px;
    background: #F9F9F9;
    -moz-border-radius: 8px; /* FF1+ */
    -webkit-border-radius: 8px; /* Saf3-4 */
    border-radius: 8px; /* Opera 10.5, IE9, Saf5, Chrome */
    -webkit-box-shadow: 0px 0px 22px;
    -moz-box-shadow: 0px 0px 22px;
    box-shadow: 0px 0px 22px;

}

.form-block {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.f {
    display: block;
    overflow: hidden;
    margin: 5px 0;
    padding: 0 0 10px 0;
}

.i-wrap {
    display: block;
    background: #EEE;
    padding: 10px;
    float: left;
    -moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
}

#loginForm span.captcha {
    padding: 0 0 0 12px;
    background: url(../images/refresh.gif) no-repeat 0 2px;

}

.message, #message {
    margin-top: 20px;

    padding: 5px 20px 5px 45px;

    text-align: center;
    color: red;
    width: auto;
}

label {
    display: block;
    width: 60px;
    float: left;
    font-weight: bold;
    text-align: right;
    margin: 0 15px 0 0;
    padding: 15px 0 0 0;
}

input, select {
    background: url(../images/layouts/sprite.png) 0 -467px repeat-x #FFF;
    border: 1px solid #CCC;
    border-top: 1px solid #BDBCBD;
    padding: 4px 4px;
    font-size: 14px;
    margin: 0 3px 0 0;
}

input:focus {
    background-color: #F9F9F9;
    border-color: #999999;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, .75) !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, .5);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
}

.button {
    color: #333;
    font-size: 15px;
    background: -moz-linear-gradient(center top, #E9E9E9, #D1D1D1) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    color: #555555;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 4px 12px;
    cursor: pointer;
    -moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
    margin: 0 0 0 75px;
}

.button:hover, button:focus {
    background: #CCC;
}

#footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    height: 30px !important;
    height: 30px;
    text-align: center;
    color: #CCC;
    text-shadow: 0 1px 2px #000;
}