/*Выпадающее двухуровневое меню*/
/*----------------------------------------Первый уровень*/
ul.dropdown {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 597;
}

ul.dropdown li {
    display: block;
    float: left;
}

ul.dropdown li:hover {
    cursor: default;
    position: relative;
    z-index: 599;
}

ul.dropdown a {
    display: block;
    font-weight: normal;
    padding: 0;
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 2px #000;
}

ul.dropdown li:hover > *.parent,
ul.dropdown li:hover > *.parent a,
ul.dropdown2 li:hover > *.parent a {
    text-decoration: none;
    text-shadow: 0 1px 2px #fff;

}

ul.dropdown  span {
    display: block;
}

ul.dropdown  span.parent {
    padding: 0 20px 0 0;
}

/*----------------------------------------Второй уровень*/
ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.dropdown2 {
    left: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 598;
    margin: 0;
    padding: 0;
    border-right: 1px solid #CCC;
}

ul.dropdown2 li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.dropdown2 li:hover {

}

ul.dropdown2 span {
    background: none;
    padding: 0 10px 3px 10px;
    text-align: left;
}

ul.dropdown2 a {
    display: block;
    padding: 0;
    text-align: left;
    text-shadow: 0 1px 2px #fff;
}

ul.dropdown2 a:hover {

}

/*----------------------------------------Третий уровень*/
ul.dropdown2 li:hover > ul {
    visibility: visible;
}

ul.dropdown3 {
    left: 180px;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 599;
    margin: -1px 0 0 0 !important;
    padding: 0 !important;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    overflow: hidden;
}

/*------------------------------------------------Изменяемые стили*/



