html {
    height: 100%;
    margin: 0;
}

body {
    font: normal normal 12px Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    color: #000;
    font: normal 18px "Lucida Sans Unicode";
    margin: 0;
    padding: 0;
}

h2 {
    color: #000;
    font: normal 24px "Lucida Sans Unicode";
    margin: 0;
    padding: 0;
}

h3 {
    color: #000;
    font: normal 16px "Lucida Sans Unicode";
    margin: 0;
    padding: 0;
}

.adminheader {
    color: #F90;
    font-size: 24px;
}

.contentheading, .componentheading, .moduleheading {
    font-size: 14px;
    font-weight: bold;
}

table.adminheading {
    margin: 5px;
    padding: 0;
    border: 0;
    width: 99%;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    color: #4583B5;
}

table.adminheading td {
    color: #000;
}

table.adminheading th {
    height: 32px;
    padding-left: 34px;
    width: auto;
    background: url(../images/system_ico/csg-4bddcddc99a85.png) no-repeat top left;
    text-shadow: 0 1px 0 #FFFFFF, 0 -1px 3px #BEBEBE;
}

table.adminheading th.filemanager {
    background: url(../images/system_ico/folder.png) no-repeat left;
}

table.adminheading th.edit {
    background: url(../images/system_ico/edit.png) no-repeat left;
}

table.adminheading th.user {
    background-position: 0 -1302px;
}

table.adminheading th.config {
    background: url(../images/system_ico/config.png) no-repeat left;
}

table.adminheading th.rss {
    background: url(../images/system_ico/rss.png) no-repeat left;
}

table.adminheading th.install {
    background: url(../images/system_ico/install.png) no-repeat left;
}

table.adminheading th.inbox {
    background: url(../images/system_ico/inbox.png) no-repeat left;
}

table.adminheading th.media {
    background: url(../images/system_ico/media.png) no-repeat left;
}

table.adminheading th.checkin {
    background: url(../images/system_ico/checkin.png) no-repeat left;
}

table.adminheading th.trash {
    background: url(../images/system_ico/trash.png) no-repeat left;
}

table.adminheading th.langmanager {
    background: url(../images/system_ico/langmanager.png) no-repeat left;
}

table.adminheading th.searchtext {
    background: url(../images/system_ico/searchtext.png) no-repeat left;
}

table.adminheading th.impressions {
    background: url(../images/system_ico/impressions.png) no-repeat left;
}

table.adminheading th.templates {
    background: url(../images/system_ico/templates.png) no-repeat left;
}

table.adminheading th.info {
    background: url(../images/system_ico/info.png) no-repeat left;
}

table.adminheading th.menus {
    background: url(../images/system_ico/menus.png) no-repeat left;
}

table.adminheading th.frontpage {
    background: url(../images/system_ico/frontpage.png) no-repeat left;
}

table.adminheading th.massadd {
    background: url(../images/system_ico/massadd.png) no-repeat left;
}

table.adminheading th.categories {
    background: url(../images/system_ico/categories.png) no-repeat left;
}

table.adminheading th.sections {
    background: url(../images/system_ico/sections.png) no-repeat left;
}

table.adminheading th.massemail {
    background: url(../images/system_ico/massemail.png) no-repeat left;
}

table.adminheading th.modules {
    background: url(../images/system_ico/modules.png) no-repeat left;
}

table.adminheading th.mambots {
    background: url(../images/system_ico/modules.png) no-repeat left;
}

table.adminheading th.cpanel {
    background: url(../images/system_ico/cpanel.png) no-repeat left;
}

table.adminheading th.db {
    background: url(../images/system_ico/db.png) no-repeat left;
}

table.adminheading th.quickicons {
    background: url(../images/system_ico/menus.png) no-repeat left;
}

table.adminheading th.linkeditor {
    background: url(../images/system_ico/menus.png) no-repeat left;
}

form {
    margin: 0;
}

input, textarea, select {
    border: 1px solid #D1D1D1;
    color: #000;
    font: 11px/18px Verdana, Sans-Serif;
    max-width: 98% !important;
    padding: 4px 2px;
}

input.inputbox {
    margin: 1px 5px 1px 0 !important;
}

input[type=checkbox] {
    padding: 1px;
    border: none;
}

input[type=radio] {
    padding: 1px;
    border: none;
}

select {
    padding: 4px 2px;
}

textarea {
    border: 1px solid #D7D7D7;
    font-size: 11px;
    padding: 5px 0;
    width: 99%;
}

button {
    font-size: 10px;
}

input.button {
    cursor: pointer;
}

.text_area:focus, input:focus, select:focus, textarea:focus {
    border-color: #999;
}

input.button:focus, table.adminlist tr.row1 {
    background: #FFF;
}

select.options, input.options {
    border: 1px solid #3d8fe3;
    font-size: 8px;
    font-weight: normal;
}

input.disabled {
    background: #F0F0F0;
}

label {
    color: #3C3C3C;
}

label:hover {
    color: black;
    cursor: pointer;
}

a:link {
    color: #2D6B9D;
    text-decoration: none;
}

a:visited {
    color: #3187AA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.abig {
    border-bottom: 1 pxdashed #aaa;
    font-size: 12px;
}

.pagenav {
    font-size: 10px;
    padding: 2px;
}

a.pagenav {
    text-decoration: none;
    color: #369;
}

a.pagenav:hover {
    color: #248;
    text-decoration: underline;
}

a.pagenav:active {
    color: #333;
}

.jwarning {
    margin-top: 5px;
    border-top: 1px solid #EAA6B5;
    border-bottom: 1px solid #EAA6B5;
    padding: 5px 0;
    background: #FBEEF1 url(../images/ico/error.png) no-repeat scroll 15px 50%;
    text-align: center;
    clear: both;
    margin: 10px 0;
}

.message {
    margin: 5px 0;
    border-top: 1px solid #70A1C8;
    border-bottom: 1px solid #70A1C8;
    padding: 5px 20px 5px 45px;
    background: #e4eef6 url(../images/ico/info.png) no-repeat scroll 15px 50%;
    text-align: center;
}

.error {
    color: #C40000;
    font-size: 11px;
    font-weight: bold;
}

.mini_ico {
    width: 12px;
    height: 12px;
}

.sectionname {
    color: #F90;
    font: bold 18px Arial, Helvetica, sans-serif;
}

.small {
    color: #F90;
    text-decoration: none;
    font: 10px Arial, Helvetica, sans-serif;
}

.smallgrey {
    color: #3D3D3D;
    font-size: 10px;
}

.quote {
    margin: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
    color: #254D78;
    background: #E9ECEF;
}

span.editlinktip {
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

.pathway {
    border: 1px solid #CFCFCF;
    padding: 2px;
    margin: 3px;
    float: left;
    background: #FFF;
}

.jpstatus {
    text-align: center;
    border: thin dotted gray;
    padding: 1em;
    width: auto;
    background: #FFC;
}

#qsett {
    height: 20px;
    margin: 5px;
    border: 1px dashed #999;
    padding: 5px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    font-size: 11px;
}

.jtd_nowrap {
    white-space: nowrap;
    border: none;
}

table.adminlist {
    color: #666;
    width: 100%;
    border-left: 1px solid #FFFFFF;
}

/*
table.adminlist tr {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
table.adminlist th {
    padding: 5px 2px;
    text-align: center;
    background: #E6E6E6;
    color: #616161;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-left: 1px solid #ccc;
    font-size: 11px;
}
*/
table.adminlist thead tr {
    background-color: #EAEADE;
    background-image: url("../images/menu-bg.png");
    background-position: center bottom;
    background-repeat: repeat-x;
}

table.adminlist thead tr th {
    border-left: 1px solid #DEDED3;
    color: #040404;
    padding: 0.6em;
    text-align: center;
    font-size: 11px;
}

table.adminlist th.title {
    text-align: left;
}

table.adminlist tr.row0 {
    background: #FFF;
}

table.adminlist tr.row1 {
    background: #F5F5F5;
}

table.adminlisttop {
    vertical-align: top;
}

table.adminlist td {
    height: 25px;
    border-bottom: 1px solid #DEDEDE; /* border-left: 1px solid  #DEDEDE;*/
    padding: 4px 2px;
}

table.adminlist tr.row0:hover {
    background: #F2F7FB;
}

table.adminlist tr.row1:hover {
    background: #F2F7FB;
}

table.adminlist td.options {
    background: #fff;
}

table.adminlist td img {
    vertical-align: middle;
}

select.options, input.options {
    font-size: 8px;
    font-weight: normal;
    border: 1px solid #3d8fe3;
}

table.adminform {
    border: solid 1px #d5d5d5;
    width: 99%;
    padding: 0;
    border-collapse: collapse;
    margin: 0;
    background: #F9F9F9;
}

table.adminform tr.row0 {
    background: #f5f5f5;
}

table.adminform tr.row1 {
    background: #eee;
}

table.adminform th {
    background: url(../images/th.png);
    font-size: 12px;
    padding-left: 4px;
    text-align: left;
    height: 24px;
    color: #666;
}

table.adminform td {
    padding: 2px;
}

table.adminform td.editor {
    font-size: 9px;
}

.pkey, .key {
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    color: #666;
    font-weight: bold;
    text-align: right;
    width: 200px;
    vertical-align: top;
    background: #F1F1F1;
}

td.header_info, td.header_info a {
    margin: 0;
    padding: 0 5px;
    display: inline;
    width: 80px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
}

td.header_info img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

td.td-state, td.td-state-joiadmin {
    cursor: pointer;
}

#ntree, #Init, .item, table.adminlist th.title {
    text-align: left;
}

#ntdree {
    padding: 10px 20px 0 10px;
    vertical-align: top;
}

#ntdree:hover {
    background: transparent !important;
}

#tdtoogle {
    background: #CCC;
    margin: 0;
    padding: 0;
    width: 5px;
}

.tdtoogleoff {
    background: url(../images/tgl.gif) no-repeat;
}

.tdtoogleon {
    background: url(../images/tgr.gif) no-repeat #E2E2E2;
}

.tdtoogleoff:hover, .tdtoogleon:hover {
    cursor: pointer;
    background: #FFC;
}

.joopage {
    display: block;
    height: 14px;
    background: url(../images/mbbg.gif) repeat-x;
    text-align: left;
    font-size: 12px;
    color: #369;
    font-weight: bold;
    padding: 5px 2px;
}

.joopage:hover {
    color: #036;
}

.item {
    text-align: left;
}

.dimc_d {
    float: left;
    margin: 3px 6px;
}

.polovina {
    width: 49%;
    float: left;
}

#ajax_status {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 126px;
    height: 22px;
    background: url(../images/ajax_ind.gif) no-repeat;
}

.load {
    display: none;
}

#debug {
    padding-top: 10px;
    width: auto;
}

.page {
    padding: 0;
}

#footer {
    clear: both;
    padding: 0;
    width: auto;
    height: 34px;
    background: url(../images/bg.png) repeat-x #EFF4F9;
    overflow: hidden;
    position: relative;
}

#wrapper {
    border: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.logo {
    position: absolute;
}

#joo {
    background: url(../images/bg.png) repeat-x;
    background-color: #dedede;
    padding: 0 0 0 65px;
    height: 32px;
}

#joo a {
    padding: 7px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: #000;
}

#wrapper1 div {
    border: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
    display: inline;
}

#topper {
    width: 100%;
}

table.menubar {
    width: 100%;
}

.pagetext {
    visibility: hidden;
    display: none;
    position: relative;
    top: 0;
}

#main_body {
    margin: 10px;
    padding: 0 0 40px;
    text-align: left;
}

div.page {
    min-height: 100%;
    margin: 0 0 -34px;
    background-color: #F2F7FB;
}

input#jtoggle_editor {
    background: none;
    border: none;
    width: 16px !important;
}

a.logoff {
    margin: 0 12px 0 0;
    background: url(../images/logout.png) left no-repeat;
    padding: 0 0 0 20px;
}

a.preview {
    margin: 0 12px 0 0;
    background: url(../images/preview.png) left no-repeat;
    padding: 0 0 0 20px;
}

#top-toolbar {
    border-bottom: 1px solid #D5E4F0;
    height: 25px;
    background: #F2F7FB;
}

#toolbar {
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

#toolbar ul {
    height: 25px;
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

#toolbar ul li {
    float: left;
    margin: 0;
    padding: 0;
    text-align: right;
}

#toolbar a, #toolbar a:visited {
    display: block;
    padding: 1px 10px;
    padding-left: 25px;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    border-left: 1px solid #D5E4F0;
    background-repeat: no-repeat;
    background-position: 6px 4px;
}

#toolbar a:hover {
    text-decoration: underline;
    background-color: white;
}

#toolbar img, #toolbar br {
    display: none;
}

.tb-load {
    background: url(../images/aload.gif);
}

.tb-cancel, .tb-custom-cancel, .tb-ext-cancel {
    background: url(../images/toolbar_ico/cancel.png);
}

.tb-save, .tb-save-new, .tb-save-edit, .tb-custom-save, .tb-ext-save {
    background: url(../images/toolbar_ico/save.png);
}

.tb-apply, .tb-makedefault, .tb-ext-apply {
    background: url(../images/toolbar_ico/apply.png);
}

.tb-add-new-x, .tb-add-new, .tb-custom-new, .tb-ext-new {
    background: url(../images/toolbar_ico/new.png) no-repeat top left;
    background-position: 0 -50px;
}

.tb-publish, .tb-publish-list, .tb-custom-publish {
    background: url(../images/toolbar_ico/publish.png);
}

.tb-unpublish, .tb-unpublish-list, .tb-ext-unpublis {
    background: url(../images/toolbar_ico/unpublish.png);
}

.tb-custom-x {
    background: url(../images/toolbar_ico/custom.png);
}

.tb-custom-x-move, .tb-ext-move, .tb-move, .tb-x-move {
    background: url(../images/toolbar_ico/move.png);
}

.tb-custom-x-copy, .tb-custom-copy, .tb-ext-copy {
    background: url(../images/toolbar_ico/copy.png);
}

.tb-custom-save-and-new {
    background: url(../images/toolbar_ico/save_and_new.png);
}

.tb-archive-list {
    background: url(../images/toolbar_ico/archive.png);
}

.tb-ext-zip {
    background: url(../images/toolbar_ico/zip.png);
}

.tb-trash {
    background: url(../images/toolbar_ico/trash.png);
}

.tb-edit-list-x, .tb-edit-list {
    background: url(../images/toolbar_ico/edit.png);
}

.tb-preview, .tb-custom-preview, .tb-ext-preview {
    background: url(../images/toolbar_ico/preview.png);
}

.tb-media-manager, .tb-ext-media-manager {
    background: url(../images/toolbar_ico/manager.png);
}

.tb-ext-upload {
    background: url(../images/toolbar_ico/upload.png);
}

.tb-delete-list, .tb-delete-list-x, .tb-custom-delete, .tb-custom-x-delete, .tb-ext-delete {
    background: url(../images/toolbar_ico/delete.png);
}

.tb-custom-optimize {
    background: url(../images/toolbar_ico/optimize.png);
}

.tb-ext-chmod {
    background: url(../images/toolbar_ico/chmod.png);
}

.tb-custom-info {
    background: url(../images/toolbar_ico/info.png);
}

.tb-custom-check {
    background: url(../images/toolbar_ico/check.png);
}

.tb-custom-help, .tb-help {
    background: url(../images/toolbar_ico/help.png);
}

.tb-back, .tb-custom-x-back {
    background: url(../images/toolbar_ico/back.png);
}

.tb-next, .tb-custom-x-next {
    background: url(../images/toolbar_ico/next.png);
}

.tb-access {
    background: url(../images/toolbar_ico/access.png);
}

.tb-edit-html-x, .tb-edit-html, .tb-edit-css, .tb-edit-css-x {
    background: url(../images/toolbar_ico/html.png);
}

.tb-assign {
    background: url(../images/toolbar_ico/assign.png);
}

.tb-unarchive-list {
    background: url(../images/toolbar_ico/unarch.png);
}

.menubackgr {
    background: url(../images/menu-bg.png) bottom repeat-x #F1F1F1;
}

#myMenuID {
    padding: 0;
}

#myMenuID span {
    cursor: pointer;
    font-size: 11px;
    margin: 2px 1px 0;
    padding: 0;
}

.ThemeOfficeMenu, .ThemeOfficeSubMenuTable {
    cursor: default;
    font: 11px arial, verdana, sans-serif;
    height: 25px;
    padding: 0;
    white-space: nowrap;
}

.ThemeOfficeMenuItem .seq2, .ThemeOfficeMenuItemHover .seq1, .ThemeOfficeMenuItemActive .seq1 {
    display: none;
}

.ThemeOfficeSubMenu {
    border: 1px solid #CCC;
    border-top: none !important;
    margin: 0 1px 0 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    visibility: hidden;
    z-index: 100;
}

.ThemeOfficeSubMenuTable {
    overflow: visible;
}

.ThemeOfficeMenuItemLeft, .ThemeOfficeMenuItemText, .ThemeOfficeMenuItemRight, .ThemeOfficeMenuFolderLeft, .ThemeOfficeMenuFolderText, .ThemeOfficeMenuFolderRight {
    padding: 3px 3px 3px 3px !important;
}

.ThemeOfficeMainItem, .ThemeOfficeMainItemHover, .ThemeOfficeMainItemActive, .ThemeOfficeMenuItem, .ThemeOfficeMenuItemHover, .ThemeOfficeMenuItemActive {
    cursor: pointer;
    white-space: nowrap;
}

td.ThemeOfficeMainItem {
    color: #000;
    padding: 4px 0;
}

.ThemeOfficeMenuItemHover, .ThemeOfficeMenuItemActive {
    background: #E6E6E6;
}

.ThemeOfficeMenuItem, .ThemeOfficeMenuItem .ThemeOfficeMenuFolderText, .ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
    background: #F0F0F0;
}

.themeofficemainitem {
    border: 0;
    padding: 4px 1px;
}

td.ThemeOfficeMainItemHover, td.ThemeOfficeMainItemActive {
    background: url(../images/menu-bg-hover.png) top repeat-x;
    color: #000;
    padding: 0;
}

.ThemeOfficeMainFolderLeft, .ThemeOfficeMainItemLeft, .ThemeOfficeMainFolderText, .ThemeOfficeMainItemText, .ThemeOfficeMainFolderRight, .ThemeOfficeMainItemRight, .ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight, .ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {

}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft, .ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
    background: #EFEFEF;
}

.ThemeOfficeMenuSplit {
    border-top: 1px solid #C6C3BD;
    height: 1px;
    margin: 2px;
    overflow: hidden;
    background: inherit;
}

.ThemeOfficeMenuItem img.seq1, .ThemeOfficeMenuItemHover seq2, .ThemeOfficeMenuItemActive seq2 {
    display: inline;
}

#component_menu {
    list-style: none;
    border-bottom: 1px solid #CCC;
    height: 25px;
    margin: 0;
    padding: 0 0 0 10px;
    background: #F1F3F5;
}

#component_menu li {
    float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    border-right: 2px dotted #CCC;
    height: 25px;
    vertical-align: middle;
}

#component_menu li img {
    padding: 2px;
    display: inline;
    float: left;
}

#user_avatar {
    text-align: center;
}

#user_avatar div {
    height: 220px;
    text-align: center;
    width: 100%;
}

#user_avatar img {
    border: 1px solid rgb(171, 171, 173);
    margin: 2px;
    padding: 2px;
    background: rgb(245, 245, 245);
}

.miniavatar, table .adminform table.adminform {
    border: none;
}

.c_sql {
    padding: 10px;
    text-align: left;
    background: #ccc;
}

.content {
    width: 98%;
}

#ico-page {
    padding: 5px;
}

table.cpanel td {
    text-align: center;
}

.cpicons {
    padding: 3px 10px;
    clear: both;
    overflow: hidden;
    background-color: #F2F7FB;
    border: 1px solid #e6e6ff;
}

.cpicons span {
    margin: 4px 4px 0 0;
    padding: 2px;
    width: 160px;
    text-align: left;
    float: left;
    vertical-align: middle;
    overflow: hidden;
    display: block;
}

.cpicons span a {
    background-color: white;
    display: block;
    padding: 8px 7px;
    color: #333;
    height: 35px;
    border: 1px solid #e6e6ff;
    overflow: hidden;
    vertical-align: middle;
    font-size: 11px;
}

.cpicons  span a:link, .cpicons span a:visited {
    text-decoration: none;
}

.cpicons  span a:hover {
    text-decoration: none;
    background: #F8F8F8;
    border: 1px solid #CCC;
}

div.cpicons div {
    display: block;
    float: left;
}

.cpicons img {
    float: left;
    margin: 0 5px 0 2px;
    padding: 1px;
    border: none;
}

.cpicons  div div img.shortcut {
    border: 0;
    position: absolute;
    top: 23px;
    background: inherit;
}

#cpanel {
    text-align: center;
    vertical-align: middle;
}

#cpanel div.icon {
    margin: 3px;
}

#cpanel div.icon a {
    display: block;
    float: left;
    height: 100px;
    width: 110px;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #DDD;
    padding: 2px 5px 1px;
}

#cpanel div.icon a:link {
    color: #808080;
}

#cpanel div.icon a:hover {
    color: #333;
    border: 1px solid #191970;
    padding: 2px 5px 1px;
    background: #dedede;
}

#cpanel div.icon a:active {
    color: #808080;
}

#cpanel div.icon a:visited {
    color: #808080;
}

#cpanel div.icon img {
    margin-top: 13px;
}

#cpanel div.icon span {
    display: block;
    padding-top: 3px;
}

.sub_adminform {
    width: 98%;
}

.inactive .ThemeOfficeMainItemHover, .inactive .ThemeOfficeMainItem, .inactive .ThemeOfficeMainItemActive {
    border: 0;
    color: #808080;
    padding: 0;
    cursor: default;
    background: none;
}

#status-info {
    display: none;
}

/* селектор выбора компонента */
select#componentid {
    width: 100%
}

/* выбор значков кнопок быстрого доступа */
div#quickicons_icons img {
    cursor: pointer;
    margin: 2px;
    padding: 2px;
    color: #333;
    border: 1px solid #e6e6ff;
}

div#quickicons_icons img.quickicons_icons_active {
    border-color: red;
}

div#quickicons_icons img:hover {
    border: 1px solid #CCC;
}

div.tocorner {
    background-color: white;
    border: 1px solid #e6e6ff;
    box-shadow: 0 0 8px #ccc;
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
}

.adminpaginator {
    font-size: 11px;
    display: block;
    text-align: center;
    padding: 5px;
}

table.joiadmin {
    border: none;
    background-color: white;
}

table.joiadmin label {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

table.joiadmin label:hover {
    color: black;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, .75) !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, .5);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
}

#joo a {
    text-shadow: 0 0 8px #ccc;
    -moz-text-shadow: 0 0 8px #ccc;
    -webkit-text-shadow: 0 0 8px #ccc;
}

#joo a:hover {
    text-shadow: 0 0 8px rgba(82, 168, 236, .5);
    -moz-text-shadow: 0 0 8px rgba(82, 168, 236, .5);
    -webkit-text-shadow: 0 0 8px rgba(82, 168, 236, .5);
}

a:active, a:focus, img {
    outline: 0;
}