/**
* @package default
* @version 0.1
* @author Ирина Чернова 
*/

@charset "utf-8";

/**
* @section reset
* @link http://meyerweb.com/eric/tools/css/reset/
* @link http://developer.yahoo.com/yui/reset/
*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>1.Сброс стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
ol, ul, li, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
    font: 14px/20px Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%; /*background: url(../images/layouts/bg.png) #f4f4f4 top left repeat-y;*/
    background: #343434;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

:focus {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left
}

a {
    color: blue;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none
}

p {
    margin: 0 0 18px
}

img,
a img,
fieldset,
abbr,
acronym {
    border: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ""
}

blockquote,
q {
    quotes: "" ""
}

form label {
    cursor: pointer
}

input,
select,
button {
    vertical-align: middle
}

select[size] {
    vertical-align: top
}

textarea {
    vertical-align: top
}

input,
select,
textarea {
    font-size: 100%;
    font-family: inherit;
}

input[type=checkbox] {
    vertical-align: middle;
    margin: 0;
}

input[type=radio] {
    vertical-align: middle;
    margin: -2px 0 0 0;
}

/**
* @section base
*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>2.Настройка базовых стилей 

/**
* @subsection base-headers
*/

/*------------------------------------------------------------2.1 Заголовки*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px
}

h1 {
    font-size: 28px;
    line-height: 37px;
    margin: 0;
    padding: 0;
    float: left;
    text-shadow: 0 1px 2px #FFF;
}

h1 small {
    font-size: 20px
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

h2.title {
    margin: 25px 0 15px -22px
}

h2.title:before {
    padding: 0 10px 0 0;
    content: '\2013';
}

h3 {
    font-size: 20px;
    line-height: 22px;
}

h4 {
    font-size: 18px;
    line-height: 21px;
}

#sidebar h4 {
    color: #E9E9E9;
    margin-bottom: 5px;
    font-size: 24px;
}

h5 {
    font-size: 17px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 17px;
}

#sidebar h6 {
    color: #EAEAEA;
    margin-bottom: 5px;
    font-size: 16px;
}

#sidebar h6 a {
    color: #EAEAEA
}

/**
* @subsection base-links
*/

/*------------------------------------------------------------2.2 Ссылки*/

a {
    color: #1D82B6;
    text-decoration: underline;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:visited {

}

/*Внешние ссылки*/

a[rel=external] {
    background: url(../images/elements/external.png) right no-repeat;
    padding: 0 12px 0 0;
}

/*Внутренние ссылки, открывающиеся в новом окне*/

a[rel=newtab] {
    background: url(../images/elements/newtab.png) right no-repeat;
    padding: 0 12px 0 0;
}

/**
* @subsection base-forms
* @link http://www.uxmatters.com/mt/archives/2006/07/label-placement-in-forms.php
* @link http://articles.sitepoint.com/article/fancy-form-design-css
*/

/*------------------------------------------------------------2.3 Формы*/

form {
    padding: 10px 0 0 0
}

form.form-reset {
    padding: 0
}

fieldset {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    margin: 0 0 20px 0;
    width: 600px;
}

fieldset fieldset {
    padding: 0;
    border: none;
    margin: 0;
    width: auto;
}

fieldset.action {
    clear: both
}

legend {
    font-size: 20px;
    padding: 0 10px;
    margin: 0 0 0 -11px;
}

/*Метки полей*/

label {
    font-size: 12px;
    font-weight: bold;
}

/*Мекти у radiobutton, checkbox и т.п.*/

label.lbl-opt {
    font-size: 11px
}

/*Метка обязательного поля*/

label.lbl-required {

}

label.lbl-required:before {
    content: '*';
    color: red;
    padding: 0 5px 0 0;
}

/*Метка поля, не прошедшего валидацию*/

label.lbl-invalid {
    margin: 0 0 0 10px;
    font-style: italic;
    color: red;
}

/*Разметка форм*/

/*Блок с набором полей (строка формы)*/

.fields {
    clear: both;
    overflow: hidden;
    margin: 0 0 5px 0;
    padding: 15px 0 15px 0;
}

/*Чётные строки*/

.fields.even {
    margin: 0 -20px 5px -20px;
    padding: 10px 20px 15px;
    background: #EBEBEB;
}

/*Блок с полем*/

.field {

}

/*Недоступное поле (обертка и само поле) */

.f-dsbl {
    color: #CCC
}

.f-dsbl input[type=text] {
    color: #CCC
}

.f-dsbl label,
label.lbl-dsbl {
    color: #CCC
}

/*Пояснение к полю или группе полей*/

.f-tip {
    display: block;
    font-size: 11px;
}

input[type=text],
input[type=password],
textarea,
select {
    background: url(../images/layouts/sprite.png) 0 -467px repeat-x #FFF;
    border: 1px solid #CCC;
    border-top: 1px solid #BDBCBD;
    padding: 2px;
    font-size: 14px;
    margin: 0 3px 0 0;
}

input[type=text],
input[type=password],
textarea {
    padding: 5px
}

textarea {
    width: 98%
}

.edit_ordering {

}

.edit_ordering input {
    padding: 0 6px !important
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
    background: #FAF7E4
}

input[type=text].error,
input[type=password].error,
textarea.error,
select.error {
    border: 1px solid red
}

button,
.button {
    cursor: pointer;
    height: 37px;
    line-height: 35px;
    padding: 0 10px;
    border: 1px solid #B5B5B5;
    border-bottom: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: url(../images/layouts/sprite.png) 0 -193px repeat-x #FFF;
    font-size: 16px;
    text-shadow: 0 1px 0 #FFFFFF;
    float: left;
}

button:hover,
.button:hover {
    background-position: 0 -233px
}

fieldset.action button {
    margin-right: 8px
}

.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70px;
    z-index: 2;
    background: #FF9797;
    text-align: center;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}

.qq-upload-drop-area-active {
    background: #FF7171
}

.qq-upload-list {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 0 0 10px;
    padding: 10px 0 0 0;
    list-style: disc;
}

.qq-upload-list li {
    margin: 0;
    padding: 0;
    line-height: 15px;
    font-size: 12px;
}

.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
    margin-right: 7px
}

.qq-upload-file {

}

.qq-upload-spinner {
    display: inline-block;
    background: url(../images/aload.gif) left no-repeat;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
    font-size: 11px
}

.qq-upload-failed-text {
    display: none
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline
}

/**
* @subsection lists
*/

/*------------------------------------------------------------2.4 Списки*/

/*------------------------2.4.1 Маркированные и нумерованные списки*/

ol,
ul {
    clear: both;
    margin: 0 0 20px;
}

ol ol,
ul ul {
    margin: 5px 0 10px 20px
}

li {
    margin: 0 0 5px
}

ol li {
    list-style-type: decimal
}

ul li {
    list-style-type: square
}

ul.listreset,
ul.listreset ul,
ul.listreset li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*------------------------2.4.2 Списки определений*/

dl dd {
    margin: 10px 0 10px 20px
}

/**
* @subsection text
*/

/*------------------------------------------------------------2.5 Разметка текста*/

abbr {
    font-weight: bold;
    cursor: help;
    border-bottom: 1px dotted;
}

b {
    font-weight: bold
}

cite {
    font-style: italic;
    font-family: Arial;
}

code {
    font-family: Consolas, monospace
}

del {
    text-decoration: line-through
}

em {
    font-style: italic;
    font-family: Arial;
}

i {
    font-style: italic
}

ins {
    font-style: italic;
    text-decoration: underline;
}

q {
    font-style: italic;
    font-family: Arial;
}

q:before {
    content: '\00AB'
}

q q:before {
    content: '\201E'
}

q:after {
    content: '\00BB'
}

q q:after {
    content: '\201C'
}

small {
    font-size: 11px
}

strong {
    font-weight: bold
}

sub {
    vertical-align: sub;
    font-size: 11px;
}

sup {
    vertical-align: super;
    font-size: 11px;
}

address {
    margin: 0 0 20px 0;
    font-style: italic;
    font-size: 12px;
}

blockquote {
    margin: 0 -20px 20px -20px;
    padding: 20px 20px 10px;
    background: #CCC;
}

/**
* @subsection tables
*/

/*------------------------------------------------------------2.6 Таблицы*/

table {
    width: 100%
}

table td,
table th {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

td.td-state-joiadmin {
    text-align: center
}

td {
    vertical-align: top
}

.table-inset {
    font-size: 11px
}

.adminlist {

}

.adminlist thead {
    background: url(../images/grey_bg.png) top left repeat-x;
    border-bottom: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}

.adminheading td {
    border-bottom: none;
    padding: 3px 10px 3px 0;
}

.adminlist tr.tDnD_whileDrag {
    background: #E9F3F9;
}

.ordering {
    cursor: move;
    text-align: center;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>3.Раскладка*/

#wrapper {
    width: 90%;
    min-width: 700px;
    min-height: 90%;
    height: auto !important;
    height: 100%;
    background: #EBEBEB;
    float: right;
    margin: 10px 50px 0 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*---3.1 Шапка сайта*/

#header {
    height: 26px;
    padding: 5px 20px 0 20px;
    background: #6D767E;
    -moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
    margin: 20px 20px 10px 20px;
}
    #admin_menu{
        float: left;
    }
    .logout_link{
        float: right;
        color: #FFF;
        font-size: 11px;
    }
        .logout_link:hover{
            text-decoration: none;
            color: #CCC
        }

#content {
    padding: 0 0 18px
}

#component {
    padding: 0 45px
}

.page_title {
    overflow: hidden;
    margin: 0 0 10px 0;
}

.page_subtitle {
    background: url(../images/subtitle_bg.png) top left repeat-x #F3F3F3;

    line-height: 34px;
    margin: 0 -18px 0 -18px;
    padding: 3px 0 3px 20px;
    font-size: 11px;
    overflow: hidden;
    clear: both;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 1px 0px 6px #c2c2c2;
    -moz-box-shadow: 1px 0px 3px #c2c2c2;
    box-shadow: 1px 0px 6px #c2c2c2;
    border: 1px solid #FFF;
    border-bottom: none;
}

.page_subtitle h2 {
    float: left;
    text-shadow: 0 1px 0 #FFFFFF;
    margin: 3px 0 6px 0;
}

#component_form {
    background: #F9F9F9;
    margin: 0 -18px 10px -18px;
    border: 1px solid #CDCDCD;
 
    overflow: hidden;
    padding: 10px 20px;
    
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius:  0 0  6px 6px;
	border-radius:  6px 6px 0 0;     
    border: 1px solid #FFF;
    border-top: 1px solid #CCC;

}

.adminheading {
    margin: 10px 10px;
}

/*----3.2.2 Сайдбар*/

#sidebar {
    float: left;
    width: 60px;
    margin-right: -60px;
    position: relative;
    color: #CACACA;
    padding: 20px 0 0 0;
}

#sidebar a {
    color: #AAE1FD
}

#sidebar a.username {
    color: #CACACA
}

.sidebar_block {
    margin: 30px 20px 0 15px
}

/*---3.3 Подвал*/

#footer {
    margin: -50px 0 0 9%;
    width: 90%;
    min-width: 700px;
    height: 50px;
    padding: 10px 0 0 0;
    clear: both;
}

.copyrights {
    float: left;
}

.copyrights p {
    color: #EAEAEA;
    padding: 0;
    font-size: 11px;
    margin: 0 0 5px 0;
    line-height: 13px;
}

.copyrights a {
    color: #AAE1FD
}

.pathsite {
    float: right;
    color: #EAEAEA;
    padding: 0 7% 0 0;
    font-size: 11px;
}

.pathsite a {
    color: #AAE1FD
}

/*
------------------------------------------------------------------------------------- 4.Меню*/

/*----------------------------------------------4.1 Горизонтальное меню */

ul.nav-horizontal li {
    display: inline;
    padding: 0 10px 0 0;
}

/*----------------------------------------------4.2 Вертикальное меню */

ul.nav-vertical li {

}

/*---------------------------------------------4.3 Главное выпадающее меню*/

/*Первый уровень*/

ul.dropdown li {
    height: 30px;
    line-height: 20px;
    margin: 0 10px 0 0;
    font-size: 11px;
    padding: 0 5px 0 5px;
}

ul.dropdown li a {
    color: #FFFFFE;
    text-decoration: none;
}

ul.dropdown li:hover,
ul.dropdown li.active {
    background: #EDEDED;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

ul.dropdown li.active a,
ul.dropdown li:hover a {
    color: #000
}

ul.dropdown li:hover > *.parent,
ul.dropdown li:hover > *.parent a,
ul.dropdown2 li:hover > *.parent a {

}

ul.dropdown  span.parent {
    padding: 0 0 0 13px !important;
    background: url(../images/layouts/sprite.png) 0 -80px no-repeat;
}

ul.dropdown  span.parent:hover,
ul.dropdown li.active span.parent,
ul.dropdown li:hover span.parent {
    background-position: 0 -103px
}

/*Второй уровень*/

ul.dropdown2 {
    background: #D8D8D8;

}

ul.dropdown2 li {
    background: #EDEDED;
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #fff;
    width: 180px;
    min-height: 27px;
    height: auto;
}

ul.dropdown2 li:hover {
    background: #E2E2E2 !important;
    border-top: 1px solid #F7F7F7 !important;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

ul.dropdown2 li span {
    margin: 3px 0 0 0 !important
}

ul.dropdown2 li.sep,
ul.dropdown2 li.sep:hover {
    background: #D8D8D8 !important;
    border-top: 1px solid #B7B7B7 !important;
}

ul.dropdown2 li.sep span {

}

ul.dropdown2 a {
    color: #D5CBAC;
    font-size: 11px;
    text-decoration: none;
}

ul.dropdown2 a:hover {
    color: #D5D5D5
}

/*---------------------------------------------4.4 Субменю компонентов*/

.submenu {
    line-height: 34px;
    margin: 5px 0 0 0;
    padding: 0 0 0 20px;
    font-size: 11px;
    float: left;
}

.submenu a {
    text-shadow: 0 1px 2px #FFF;
    color: #444444;
}

.submenu a:hover {
    text-decoration: none
}

.submenu span {
    text-decoration: none;
    color: #000;
}

/*-------------------------------------------------------5.Глобальные модификаторы*/

.g-active {
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.g-hidden {
    display: none
}

/*Псевдоссылки*/
.g-pseudolink {
    text-decoration: none;
    border-bottom: 1px dashed;
    cursor: pointer;
}

#sidebar .g-pseudolink {
    color: #F6DCDC
}

/*-------------------------------------------------------6.Декоративные модификаторы элементов*/

.ico,
.ico_bg {
    background: url(../images/elements/icons.png) 0 0 no-repeat
}

.ico_bg {
    padding: 0 0 0 20px !important
}

button .ico_bg {
    display: block;
    line-height: 16px;
}

.ico-save {
    background-position: 0 -34px
}

.ico-apply {
    background-position: 0 -6px
}

.ico-cancel {
    background-position: 0 -63px
}

.ico-users {
    background: url(../images/elements/ico-users.png) 0 0 no-repeat
}

.ico-add {
    background: url(../images/elements/el-add.png) 0 0 no-repeat
}

.ico-add_user {
    background: url(../images/elements/ico-add_user.png) 0 0 no-repeat
}

.ico-acl {
    background: url(../images/elements/ico-acl.png) left no-repeat
}

.ico-optimize {
    background: url(../images/elements/ico-optimize.png) left no-repeat
}

.ico-users_groups {
    background: url(../images/elements/ico-users_groups.png) left no-repeat
}

.ico-users_add_group {
    background: url(../images/elements/ico-optimize.png) left no-repeat
}

.ico-reg {
    background: url(../images/elements/ico-optimize.png) left no-repeat
}

.ico-login {
    background: url(../images/elements/ico-login.png) left no-repeat
}

.ico-bans {
    background: url(../images/elements/ico-optimize.png) left no-repeat
}

.ico-menu {
    background: url(../images/elements/ico-menu.png) left no-repeat
}

.ico-component {
    background: url(../images/elements/ico-component.png) left no-repeat
}

.ico-module {
    background: url(../images/elements/ico-module.png) left no-repeat
}

.ico-plugin {
    background: url(../images/elements/ico-plugin.png) left no-repeat
}

.ico-template {
    background: url(../images/elements/ico-template.png) left no-repeat
}

.ico-lang {
    background: url(../images/elements/ico-lang.png) left no-repeat
}

.ico-manager {
    background: url(../images/elements/ico-manager.png) left no-repeat
}

.ico-config {
    background: url(../images/elements/ico-config.png) left no-repeat
}

.ico-bookmark {
    background: url(../images/elements/ico-bookmark.png) left no-repeat
}

.ico-media {
    background: url(../images/elements/ico-media.png) left no-repeat
}

.ico-files {
    background: url(../images/elements/ico-files.png) left no-repeat
}

.ico-db {
    background: url(../images/elements/ico-db.png) left no-repeat
}

.ico-cache {
    background: url(../images/elements/ico-cache.png) left no-repeat
}

.ico-info {
    background: url(../images/elements/ico-info.png) left no-repeat
}

.ico-backup {
    background: url(../images/elements/ico-backup.png) left no-repeat
}

.ico-feedback {
    background: url(../images/elements/ico-bug.png) left no-repeat
}

.ico-pages {
    background: url(../images/elements/ico-pages.png) left no-repeat
}

.ico-page_add {
    background: url(../images/elements/ico-page_add.png) left no-repeat
}

.ico-articles {
    background: url(../images/elements/ico-articles.png) left no-repeat
}

.ico-articles_bycat {
    background: url(../images/elements/ico-articles_bycat.png) left no-repeat
}

.ico-article_add {
    background: url(../images/elements/ico-article_add.png) left no-repeat
}

.ico-cats {
    background: url(../images/elements/ico-cats.png) left no-repeat
}

.ico-cat_add {
    background: url(../images/elements/ico-cat_add.png) left no-repeat
}

.el-error {
    background: url(../images/elements/el-error.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-attached {
    background: url(../images/elements/el-attached.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-comments {
    background: url(../images/elements/el-comments.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-date {
    background: url(../images/elements/el-date.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-user {
    background: url(../images/elements/el-user.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-readmore {
    background: url(../images/elements/el-readmore.png) left no-repeat;
    padding: 0 0 0 8px;
}

.el-email {
    background: url(../images/elements/el-mail.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-tag {
    background: url(../images/elements/el-tag.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-add {
    background: url(../images/elements/el-add.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-edit {
    background: url(../images/elements/el-edit.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-remove {
    background: url(../images/elements/el-remove.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-publish {
    background: url(../images/elements/el-publish.png) left no-repeat;
    padding: 0 0 0 20px;
}

.el-unpublish {
    background: url(../images/elements/el-unpublish.png) left no-repeat;
    padding: 0 0 0 20px;
}

/*-------------------------------------------------------7.Декоративные модификаторы блоков*/

.b-error {
    background: url(../images/elements/el-error.png) 10px no-repeat #EFEFEF;
    padding: 10px 10px 10px 30px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.b-success {
    background: url(../images/elements/el-success.png) 10px no-repeat #EFEFEF;
    padding: 10px 10px 10px 30px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.b-info {
    background: url(../images/elements/el-info.png) 10px no-repeat #EFEFEF;
    padding: 10px 10px 10px 30px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.b-inprocess {
    background: url(../images/elements/loader.gif) 10px no-repeat #EFEFEF;
    padding: 10px 10px 10px 30px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.b-help {
    background: url(../images/layouts/b-help.png) left no-repeat #B2E2FC;
    padding: 0 0 0 35px;
    margin: 0 -40px 0 -74px;
}

.b-help p {
    background: #EBF2F5;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

/*-------------------------------------------------------6.Блоки, использующиеся для создания разметки*/

.b {
    display: block
}

.b-100 {
    width: 100%
}

.b-90 {
    width: 90%
}

.b-80 {
    width: 80%
}

.b-70 {
    width: 70%
}

.b-60 {
    width: 60%
}

.b-50 {
    width: 50%
}

.b-33 {
    width: 33%
}

.b-30 {
    width: 30%
}

.b-25 {
    width: 25%
}

.b-20 {
    width: 20%
}

.b-10 {
    width: 10%
}

.b-left {
    float: left
}

.b-right {
    float: right
}

.b-clear {
    clear: both
}

.b-relative {
    position: relative
}

.b-center {
    text-align: center
}

/*---------------------------------------------------------------Модули*/

.m-bookmarks {

}

ul.bookmarks {
    padding: 0 0 0 20px
}

a.bookmark {
    display: block;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-decoration: none;
    background: url(../images/layouts/sprite.png) -44px -3px no-repeat;
    position: absolute;
    top: 40px;
    right: 0px;
}

a.bookmark:hover,
a.bookmark.active {
    background: url(../images/layouts/sprite.png) -4px -3px no-repeat
}

.quickicons {
    margin: 0 0 0 16px;
    position: fixed;
}

.quickicons span {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    margin: 0 0 10px 0;
    background: #D0D0D0; /* old browsers */
    background: -moz-linear-gradient(top, #D0D0D0 0%, #909090 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D0D0D0), color-stop(100%, #909090)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#D0D0D0', endColorstr = '#909090', GradientType = 0); /* ie */
    -moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
}

.quickicons span a {

}

.quickicons span a img {
    margin: 3px 0 0 0;
    width: 32px;
}

.cpanel {
    padding: 15px 0 0 0;
}

.cpanel span {
    display: block;
    padding: 5px 10px;
    float: left;
    margin: 0 15px 10px 0;
    background: url(../images/subtitle_bg.png) top left repeat-x #D6D6D6;
    -moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
    height: 38px;
    line-height: 38px;
    border: 1px solid #C8C8C8;
    -webkit-box-shadow: 1px 0px 6px #c2c2c2;
    -moz-box-shadow: 1px 0px 3px #c2c2c2;
    box-shadow: 1px 0px 6px #c2c2c2;
}

.cpanel a {
    display: block;
    line-height: 15px;
    padding: 2px 0 0 0;
    height: 32px;
    text-decoration: none;
    color: #000;
    text-shadow: 0 1px 2px #fff;
}

.cpanel img {
    vertical-align: middle;
    margin: -3px 6px 0 0;
}

.m-notes {

}

textarea#note {
    height: 120px;
    font-size: 11px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #FAF7E4;
}

/*-------------------------------------------------------------Toolbar*/

#toolbar {
    text-align: right;
    float: right;
    margin: 5px 20px 0 0;
    padding: 0;
    line-height: 1.8;
    font-size: 12px;
}

#toolbar ul {
    height: 25px;
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

#toolbar ul li {
    float: left;
    margin: 0 6px 0 0;
    padding: 0;
    text-align: right;
    background: #CFCFCF;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#toolbar a,
#toolbar a:visited {
    display: block;
    padding: 1px 10px;
    padding-left: 25px;
    margin: 0;
    color: #000;
    text-shadow: 0 1px 2px #fff;
    text-decoration: none;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: 6px 4px;
}

#toolbar ul li:hover {
    background: #FFF
}

#toolbar img,
#toolbar br {
    display: none
}

.tb-load {
    background: url(../images/aload.gif)
}

.tb-cancel,
.tb-custom-cancel,
.tb-ext-cancel {
    background: url(../images/toolbar_ico/cancel.png)
}

.tb-save,
.tb-save-new,
.tb-save-edit,
.tb-custom-save,
.tb-ext-save {
    background: url(../images/toolbar_ico/save.png)
}

.tb-apply,
.tb-makedefault,
.tb-ext-apply {
    background: url(../images/toolbar_ico/apply.png)
}

.tb-add-new-x,
.tb-add-new,
.tb-custom-new,
.tb-ext-new {
    background: url(../images/toolbar_ico/new.png) no-repeat top left;
    background-position: 0 -50px;
}

.tb-publish,
.tb-publish-list,
.tb-custom-publish {
    background: url(../images/toolbar_ico/publish.png)
}

.tb-unpublish,
.tb-unpublish-list,
.tb-ext-unpublis {
    background: url(../images/toolbar_ico/unpublish.png)
}

.tb-custom-x {
    background: url(../images/toolbar_ico/custom.png)
}

.tb-custom-x-move,
.tb-ext-move,
.tb-move,
.tb-x-move {
    background: url(../images/toolbar_ico/move.png)
}

.tb-custom-x-copy,
.tb-custom-copy,
.tb-ext-copy {
    background: url(../images/toolbar_ico/copy.png)
}

.tb-custom-save-and-new {
    background: url(../images/toolbar_ico/save_and_new.png)
}

.tb-archive-list {
    background: url(../images/toolbar_ico/archive.png)
}

.tb-ext-zip {
    background: url(../images/toolbar_ico/zip.png)
}

.tb-trash {
    background: url(../images/toolbar_ico/trash.png)
}

.tb-edit-list-x,
.tb-edit-list {
    background: url(../images/toolbar_ico/edit.png)
}

.tb-preview,
.tb-custom-preview,
.tb-ext-preview {
    background: url(../images/toolbar_ico/preview.png)
}

.tb-media-manager,
.tb-ext-media-manager {
    background: url(../images/toolbar_ico/manager.png)
}

.tb-ext-upload {
    background: url(../images/toolbar_ico/upload.png)
}

.tb-delete-list,
.tb-delete-list-x,
.tb-custom-delete,
.tb-custom-x-delete,
.tb-ext-delete {
    background: url(../images/toolbar_ico/delete.png)
}

.tb-custom-optimize {
    background: url(../images/toolbar_ico/optimize.png)
}

.tb-ext-chmod {
    background: url(../images/toolbar_ico/chmod.png)
}

.tb-custom-info {
    background: url(../images/toolbar_ico/info.png)
}

.tb-custom-check {
    background: url(../images/toolbar_ico/check.png)
}

.tb-custom-help,
.tb-help {
    background: url(../images/toolbar_ico/help.png)
}

.tb-back,
.tb-custom-x-back {
    background: url(../images/toolbar_ico/back.png)
}

.tb-next,
.tb-custom-x-next {
    background: url(../images/toolbar_ico/next.png)
}

.tb-access {
    background: url(../images/toolbar_ico/access.png)
}

.tb-edit-html-x,
.tb-edit-html,
.tb-edit-css,
.tb-edit-css-x {
    background: url(../images/toolbar_ico/html.png)
}

.tb-assign {
    background: url(../images/toolbar_ico/assign.png)
}

.tb-unarchive-list {
    background: url(../images/toolbar_ico/unarch.png)
}

.message {
    margin: 5px 0;
    border-top: 1px solid #70A1C8;
    border-bottom: 1px solid #70A1C8;
    padding: 5px 20px 5px 45px;
    background: #e4eef6 url(../images/ico/info.png) no-repeat scroll 15px 50%;
    text-align: center;
}

#jDebug {
    margin: 20px 20px 0 100px;
    clear: both;

    color: #EAEAEA;

}

.adminpaginator {
    margin: 15px 0 0 0;
    background: url(../images/grey_bg.png) top left repeat-x;
    color: #333333;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 6px 12px;
    overflow: hidden;
}

.adminpaginator_pages_counter {
    font-size: 12px;
    float: left;
    color: black;
    text-shadow: 0 1px 2px #FFF;
}

.ap-pagescount {
    margin: 0 10px 0 0
}

.ap-pages {
    float: right;
    font-size: 12px;
}

.ap-pages a,
.ap-pages span {
    margin: 0 5px 0 0;
    padding: 2px 4px 3px 4px;
    text-align: center;
    display: block;
    float: left;
    line-height: 12px;
    color: #676767;
}

#pagenav_current {
    background: #fff;
    -webkit-box-shadow: 1px 0px 6px #c2c2c2;
    -moz-box-shadow: 1px 0px 6px #c2c2c2;
    box-shadow: 1px 0px 6px #c2c2c2;
    -moz-border-radius: 2px; /* FF1+ */
    -webkit-border-radius: 2px; /* Saf3-4 */
    border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome */
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px
}

#tiptip_holder.tip_bottom {
    padding-top: 5px
}

#tiptip_holder.tip_right {
    padding-left: 5px
}

#tiptip_holder.tip_left {
    padding-right: 5px
}

#tiptip_content {
    font-size: 11px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(25, 25, 25);
    background-color: rgba(25, 25, 25, 0.92);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow,
#tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(25, 25, 25);
    border-top-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: rgb(25, 25, 25);
    border-bottom-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: rgb(25, 25, 25);
    border-right-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(25, 25, 25);
    border-left-color: rgba(25, 25, 25, 0.92);
}

/* Webkit Hacks  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 4px 8px 5px 8px;
        background-color: rgba(45, 45, 45, 0.88);
    }

    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: rgba(45, 45, 45, 0.88)
    }

    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: rgba(20, 20, 20, 0.92)
    }
}

